<template>
    <div>
        <small class="text-danger">Click to set as main thumbnail</small>
    <ul class="list-unstyled list-inline list-video-thumbs">
        <li v-for="thumb in localThumbs">
            <a href="#" @click.prevent="chooseAsPrimary(thumb)" :class="video.main_thumb_url == thumb ? 'main':''">
                <img :src="thumb" />
            </a>
        </li>
        <li>
            <a href="#" @click.prevent="uploadCustomImage">
                <img src="http://placehold.it/192x108?text=Upload thumbnail" />
            </a>
            <form class="hidden" method="post" id="fileForm" enctype="multipart/form-data" action="#">
                <input type="file" name="image" @change="fileChosen($event)" />
            </form>
        </li>
    </ul>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        props:['thumbs','video'],
        data(){
            return {
                localThumbs:[]
            }
        },
        methods:{
            chooseAsPrimary(thumb){
                axios.post('/admin/videos/setMainThumb',{'url':thumb,'vid':this.video.id}).then((response)=>{
                    console.log(response.data)
                }).catch((error)=>{
                    console.log(error)
                })
            },
            uploadCustomImage(){
                $('input[type=file]').trigger('click')
            },
            fileChosen($event){
                let file = $event.target.files[0]
                let formData = new FormData()
                formData.append('image', file)
                axios.post('/admin/videos/uploadNewThumb/'+ this.video.id, formData).then((result) => {
                    this.localThumbs.push(result.data)
                })
            }
        },
        mounted(){
            axios.get('/admin/videos/getAdditionalThumbs/' + this.video.id).then((response)=>{
                response.data.forEach((item)=>{
                    this.localThumbs.push(item.image_url)
                })
            }).catch((errors)=>{
                console.log(errors)
            })
            this.localThumbs = this.thumbs
        }
    }
</script>