<template>
    <div class="feedback">
        <p class="text-center">
            <a href="#" @click.prevent="toggleForm" class="btn"><i class="fa fa-envelope"></i> Give us your feedback</a>
        </p>
        <transition name="slide">
            <div v-if="formVisible" >
                <form method="post" action="#" @submit.prevent="sendForm">
                    <div class="form-group">
                        <label class="control-label" for="email">E-mail</label>
                        <input @keyup="killErrors" type="text" name="email" id="email" class="form-control" v-model="form.email" />
                        <span v-if="errors.email" class="text text-danger" v-text="errors.email[0]"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="message">Message</label>
                        <textarea @keyup="killErrors" name="message" id="message" class="form-control" v-model="form.message"></textarea>
                        <span v-if="errors.message" class="text text-danger" v-text="errors.message[0]"></span>
                    </div>
                    <p class="text-center">
                        <button type="submit" class="btn btn-warning">Send</button>
                    </p>
                </form>
            </div>
        </transition>
    </div>
</template>

<script>
    import swal from 'sweetalert2'
    export default{
        data(){
            return {
                formVisible:false,
                form:{
                    email:"",
                    message:""
                },
                errors:{}
            }
        },
        methods:{
            killErrors(){
                this.errors = {}
            },
            toggleForm(){
                this.formVisible = !this.formVisible
            },
            sendForm(){
                axios.post('/sendFeedback',{"email":this.form.email,"message":this.form.message}).then((response)=>{
                    if(response.status == 200){
                        this.toggleForm()
                        if(response.data == '1') {
                            this.form.email = ""
                            this.form.message = ""
                            swal('Success', 'Thanks! We appreciate your feedback.', 'success')
                        }
                    }
                }).catch((error)=>{
                    this.errors = error.response.data.errors
                })
            }
        }
    }
</script>