<template>
    <form method="post" class="form-inline main-filters">
        <v-select
        name="range"
        placeholder="Newest"
        :options="ranges" 
        :value="currentRangeLabel"
        :on-change="rangeChange">
        </v-select>
        <v-select
        name="genre"
        placeholder="Genre"
        :options="genres"
        :value="currentGenreLabel"
        :on-change="genreChange">
        </v-select>
    </form>
</template>

<script>
const URLSearchParams = require("url-search-params");
function removeURLParameter(url, parameter) {
  // prefer to use l.search if you have a location/link object
  var urlparts = url.split("?");
  if (urlparts.length >= 2) {
    var prefix = encodeURIComponent(parameter) + "=";
    var pars = urlparts[1].split(/[&;]/g);

    // reverse iteration as may be destructive
    for (var i = pars.length; i-- > 0; ) {
      // idiom for string.startsWith
      if (pars[i].lastIndexOf(prefix, 0) !== -1) {
        pars.splice(i, 1);
      }
    }

    url = urlparts[0] + (pars.length > 0 ? "?" + pars.join("&") : "");
    return url;
  } else {
    return url;
  }
}
export default {
  props: ["genre", "range"],
  data() {
    return {
      ranges: [
        { label: "Newest", value: "newest" },
        { label: "Oldest", value: "oldest" }
      ],
      genres: [],
      params: "",
      currentRangeLabel: "",
      currentGenreLabel: ""
    };
  },
  methods: {
    getGenres() {
      axios.get("/fetchCategories").then(response => {
        this.genres = Object.keys(response.data).map(key => {
          return {
            value: key,
            label: response.data[key].name
          };
        });
        this.genres.unshift({
          value: "none",
          label: "..."
        });
        let genreIndex = this.genre ? parseInt(this.genre) : null;
        if (genreIndex && genreIndex > 0) {
          genreIndex--;
        }
        if (this.genres[genreIndex]) {
          this.currentGenreLabel = this.genres[genreIndex + 1].label;
        }
      });
    },
    ratingChange(obj) {
      let current = obj.target.value;
      if (this.params.has("rating")) {
        this.params.set("rating", current);
      } else {
        this.params.append("rating", current);
      }
      window.location.href = "/?" + this.params.toString();
    },
    genreChange(newGenre) {
      if (newGenre.value && newGenre.value !== this.genre) {
        if (newGenre.value === "none") {
            window.location.href = removeURLParameter(window.location.href, 'genre')
        } else {
          if (this.params.has("genre")) {
            this.params.set("genre", parseInt(newGenre.value) + 1);
          } else {
            this.params.append("genre", parseInt(newGenre.value) + 1);
          }
          window.location.href = "/?" + this.params.toString();
        }
      }
    },
    rangeChange(newRange) {
      if (newRange.value && newRange.value !== this.range) {
        if (this.params.has("range")) {
          this.params.set("range", newRange.value);
        } else {
          this.params.append("range", newRange.value);
        }
        window.location.href = "/?" + this.params.toString();
      }
    },
    getCurrentRange() {
      return "Oldest";
    }
  },
  beforeMount() {
    if (this.ranges) {
      const rangeItem = this.ranges.filter(
        rangeObject => rangeObject.value === this.range
      );
      if (rangeItem.length) {
        this.currentRangeLabel = rangeItem[0].label;
      }
    }
    this.getGenres();
  },
  mounted() {
    this.params = new URLSearchParams(window.location.search);
  }
};
</script>