<template>
    <span>
        <span v-if="following_already" class="btn btn-block btn-warning"><i class="fa fa-check"></i> Following</span>
        <a v-if="!following_already" href="#" @click.prevent="followUser" class="btn btn-block btn-warning">Follow</a>
    </span>
</template>

<script>
    import swal from 'sweetalert2'
    import EventBus from '../app'
    export default{
        props:['follow_user'],
        data(){
            return {
                following_already: false
            }
        },
        methods:{
            followUser(){
                axios.post('/followUser',{'follow_user': this.follow_user}).then((response)=>{
                    EventBus.$emit('follow');
                    this.checkIfFollowing()
                    swal('Great!','You are following '+response.data.name+' '+response.data.lastname+' now!','success');
                }).catch((error)=>{
                    console.log(error.response.data)
                })
            },
            checkIfFollowing(){
                axios.get('/getFollows/'+this.follow_user).then((response)=>{
                    if (response.data.length > 0){
                        this.following_already = true
                    }
                }).catch((error)=>{
                    console.log(error.response.data)
                })
            }
        },
        mounted(){
            this.checkIfFollowing()
        }
    }
</script>