<template>
    <div class="star-rating editable" :class="{ rated: currentRating }">
        <table>
            <tr>
                <td style="padding-right:20px;">
                    <a v-if="this.user == this.video_owner" href="/user/settings" style="margin-top:-10px;" class="btn btn-warning pull-right">Edit film</a>
                </td>
                <td>
                    <span class="rate-cta">Rate this film</span>
                    <div class="star-rating-stars">
                        <div :class="this.currentRating == 1 ? 'star-rating-star star-rating-current-value' : 'star-rating-star'" @click="setRating(1)"><i class="fa fa-star"></i></div>
                        <div :class="this.currentRating == 2 ? 'star-rating-star star-rating-current-value' : 'star-rating-star'" @click="setRating(2)"><i class="fa fa-star"></i></div>
                        <div :class="this.currentRating == 3 ? 'star-rating-star star-rating-current-value' : 'star-rating-star'" @click="setRating(3)"><i class="fa fa-star"></i></div>
                        <div :class="this.currentRating == 4 ? 'star-rating-star star-rating-current-value' : 'star-rating-star'" @click="setRating(4)"><i class="fa fa-star"></i></div>
                        <div :class="this.currentRating == 5 ? 'star-rating-star star-rating-current-value' : 'star-rating-star'" @click="setRating(5)"><i class="fa fa-star"></i></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    export default {
        props:['video', 'user', 'video_owner'],
        data(){
            return {
                currentRating:0
            }
        },
        methods:{
            getCurrentRating(){
                axios.get('/rating/'+this.video).then((response)=>{
                    this.currentRating = response.data
                }).catch((error)=>{
                    console.log(error.response.data)
                })
            },
            setRating(amount){
                axios.post('/rating/'+this.video,{'amount':amount}).then(()=>{
                    this.getCurrentRating()
                }).catch((error)=>{
                    console.log(error.response.data)
                })
            }
        },
        mounted(){
            this.getCurrentRating()
        }
    }
</script>