<template>
<form @submit.prevent="onSubmit" class="form-group search-wrap">
    <autocomplete 
    :items="items" 
    :get-label="getLabel" 
    :component-item='template'
    placeholder="Search"
    :wait="100"
    :auto-select-one-item='false'
    @item-selected="selectResult"
    @item-clicked="selectResult"
    @update-items="getSearchResults">
    </autocomplete>
    <button type="submit" class="btn btn-primary submit-search"><img src="/img/search_icon.svg"></button>
</form>
</template>

<script>
    import Autocomplete from 'v-autocomplete'
    import ItemTemplate from './SearchItemTemplate'
    export default{
        components: { Autocomplete },
        data(){
            return {
                q: '',
                items: [],
                template: ItemTemplate
            }
        },
        methods:{
            getLabel (item) {
                return item.title
            },
            getSearchResults(searchString){
                this.q = searchString
                axios.get(`/searchAutocomplete?q=${this.q}`).then((response) => {
                    if (response.data.length){
                        this.items = response.data
                    }
                })
            },
            selectResult(result){
                this.q = result.title
                window.location.replace('/search?q='+ this.q)
            },
            onSubmit(formData){
                window.location.replace('/search?q=' + this.q)
            }
        }
    }
</script>