<template>
    <ul class="list-unstyled list-settings-groups">
        <li><a :class="option=='membership'?'active':''" href="#" @click.prevent="setGroup('membership')">Membership</a></li>
        <!--<li><a :class="option=='billing'?'active':''" href="#" @click.prevent="setGroup('billing')">Billing methods</a></li>-->
        <li><a :class="option=='profile'?'active':''" href="#" @click.prevent="setGroup('profile')">Profile settings</a></li>
        <li><a :class="option=='security'?'active':''" href="#" @click.prevent="setGroup('security')">Password and security</a></li>
        <li><a v-if="this.role == 'Filmmaker' || this.role == 'Administrator' || this.role == 'FullAccess'" :class="option=='channel'?'active':''" href="#" @click.prevent="setGroup('channel')">Channel</a></li>
    </ul>
</template>

<script>
    import EventBus from '../app';

    export default{
        props:['group','role'],
        data(){
            return {
                option:""
            }
        },
        methods:{
            setGroup(group){
                EventBus.$emit('setting', {action:group})
                this.option = group;
            }
        },
        mounted(){
            if(document.referrer.indexOf('/video/') > 0){
                let id = document.referrer.replace(/\D/g, '')
                setTimeout(()=>{
                    EventBus.$emit('setting', {action:'editVideo',video: id})
                },1500)
            }
            if(this.group){
                this.option = this.group
            }
        }
    }
</script>