<template>
    <div>
        <user-membership :csrf="this.csrf" :user="user" v-if="section == 'membership'"></user-membership>
        <user-billing :csrf="this.csrf" :user="user" v-if="section == 'billing'"></user-billing>
        <user-profile :user="user" v-if="section == 'profile'"></user-profile>
        <user-security :user="user" v-if="section == 'security'"></user-security>
        <user-notifications :user="user" v-if="section == 'notifications'"></user-notifications>
        <user-channel :user="user" v-if="section == 'channel'"></user-channel>
        <edit-video :user="user" :video="obj_id" v-if="section == 'editVideo'"></edit-video>
    </div>
</template>

<script>
    import EventBus from '../app.js';

    export default{
        props:['user', 'csrf'],
        data(){
            return {
                section:"",
                obj_id: null
            }
        },
        mounted(){
            EventBus.$on('setting', (payLoad) => {
                this.section = payLoad.action
                this.obj_id = payLoad.video
            });
            if(this.section == ""){
                this.section = 'membership'
            }
        }
    }
</script>