<template>
    <ul class="list-unstyled">
        <li v-for="user in followlist">
            <a :href="'/author/'+user.id" data-toggle="tooltip" data-placement="right" :title="user.name+' '+user.lastname">
                <img :src="user.image.profile.url" width="60px" height="60px" class="img-circle" />
            </a>
        </li>
    </ul>
</template>

<script>
    import EventBus from '../app'
    export default{
        data(){
          return {
              followlist:{}
          }
        },
        methods:{
            getFollows(){
                axios.get('/getFollows').then((response)=>{
                    this.followlist = response.data
                    Vue.nextTick(function () {
                        $('[data-toggle="tooltip"]').tooltip()
                    })
                }).catch((error)=>{
                    console.log(error.response.data)
                })
            }
        },
        created(){
            this.getFollows()
        },
        mounted(){
            EventBus.$on('follow', ()=>{
                this.getFollows()
            });
        }
    }
</script>