<template>
    <div>
    <input-tag
            :on-change="changed"
            :placeholder=this.placeholder
            :tags="tags"
            @keyup.native="keyup"
    ></input-tag>
    <div class="input-autosuggest" v-show="autosuggest.length > 0">
        <ul class="list-unstyled">
            <li v-for="(title, id) in autosuggest">
                <a href="#" @click.prevent="addTag(title.name)" v-text="title.name"></a>
            </li>
        </ul>
    </div>
    </div>
</template>

<script>
    import InputTag from 'vue-input-tag'
    Vue.component('input-tag',InputTag)

    export default {
        props:['url','placeholder','field','processUrl','reservedOnly','tags_src'],
        data:function(){
            return {
                currentTag:"",
                tags:[],
                autosuggest:[],
                tag_ids:[]
            }
        },
        methods:{
            changed: function(){
                axios.post(this.processUrl+"/"+this.currentTag).then(function(response){
                    this.tag_ids.push(response.data)
                }.bind(this))
                this.currentTag = ""
                this.autosuggest = []
                this.$parent.$emit('changed',{field:this.field, tags: this.tags, tag_ids: this.tag_ids})
            },
            keyup: function(event){

                    if (event.key.length == 1) {
                        this.currentTag += event.key
                    }
                    if (event.key == 'Backspace') {
                        this.currentTag = this.currentTag.slice(0, -1)
                    }
                    if (this.currentTag.length >= 2) {
                        axios.get(this.url + '/' + this.currentTag).then(function (response) {
                            this.autosuggest = response.data
                        }.bind(this))
                    }
            },
            addTag:function(tag){
                if(!this.tags.includes(tag)) {
                    this.tags.push(tag)
                    axios.post(this.processUrl+"/"+tag).then(function(response){
                        this.tag_ids.push(response.data)
                    }.bind(this))
                    this.$parent.$emit('changed',{field:this.field, tags: this.tags, tag_ids: this.tag_ids})
                    this.autosuggest = []
                    this.currentTag = ""
                    this.$children.forEach((child)=> {
                        child.newTag = ''
                    })
                }
            }
        },
        watch:{
          tags_src(){
              if(this.tags_src.length > 0) {
                  this.tags_src.forEach((elem) => {
                      this.addTag(elem)
                  })
              }
          }
        },
        mounted: function(){
        }
    }
</script>