<template>
    <form method="post" action="#">
        <v-select
        name="to_kill"
        placeholder="..."
        :options="timeRanges" 
        :value="currentRangeLabel"
        :on-change="rangeChange">
        </v-select>
    </form>
</template>

<script>
const URLSearchParams = require("url-search-params");
function removeURLParameter (url, parameter) {
        // prefer to use l.search if you have a location/link object
    var urlparts = url.split('?')
    if (urlparts.length >= 2) {
      var prefix = encodeURIComponent(parameter) + '='
      var pars = urlparts[1].split(/[&;]/g)

          // reverse iteration as may be destructive
      for (var i = pars.length; i-- > 0;) {
            // idiom for string.startsWith
          if (pars[i].lastIndexOf(prefix, 0) !== -1) {
              pars.splice(i, 1)
            }
        }

      url = urlparts[0] + (pars.length > 0 ? '?' + pars.join('&') : '')
      return url
    } else {
      return url
    }
  }
export default {
  props: ["to_kill"],
  data() {
    return {
      timeRanges: [
        { value: "0", label: "..." },
        { value: "1", label: "1 min" },
        { value: "1_3", label: "1-3 min" },
        { value: "3_6", label: "4-6 min" },
        { value: "6_10", label: "7-10 min" },
        { value: "10_15", label: "11-15 min" },
        { value: "15_20", label: "16-20 min" },
        { value: "20_25", label: "21-25 min" },
        { value: "25_30", label: "26-30 min" },
        { value: "30_35", label: "31-35 min" },
        { value: "35_40", label: "36-40 min" },
        { value: "40_45", label: "41-45 min" },
        { value: "45plus", label: "45+ min" }
      ],
      params: "",
      currentRangeLabel: ""
    };
  },
  methods: {
    rangeChange(newRange) {
      if (newRange.value && newRange.value !== this.killtime) {
        if (newRange.value === "0") {
            window.location.href = removeURLParameter(window.location.href, 'time');
        } else {
          if (this.params.has("time")) {
            this.params.set("time", newRange.value);
          } else {
            this.params.append("time", newRange.value);
          }
          window.location.href = "/?" + this.params.toString();
        }
      }
    }
  },
  beforeMount() {
    if (this.timeRanges) {
      const currentRangeObject = this.timeRanges.filter(
        range => range.value === this.to_kill
      );
      if (currentRangeObject.length) {
        this.currentRangeLabel = currentRangeObject[0].label;
      }
    }
  },
  mounted() {
    this.params = new URLSearchParams(window.location.search);
  }
};
</script>