<template>
    <div class="upload-form">
            <div class="upload-process" v-show="uploadProcessStarted">
                <h1 v-if="!this.form.videoUploadResult" class="text-center upload-status" v-text="this.progress < 100 ? this.progress + '%' : this.progressProcessing">
                </h1>
                <h1 v-else class="text-center upload-status">{{ this.progressDoneText }}</h1>
                <div class="upload-process-bar">
                    <div class="upload-process-bar-inner" :style="{ width: this.progress + '%'}"></div>
                </div>
            </div>
            <div class="row video-upload-step-1" v-show="this.currentBlock == 1">
                <div class="col-md-8 col-md-offset-2" id="dropzone">
                    <!-- <vue-transmit class="col-12 upload-zone-wrap"
                                  tag="section"
                                  v-bind="options"
                                  drop-zone-classes="bg-faded"
                                  v-on:sending="startUploadProcess()"
                                  ref="uploader"> -->
                        <div class="d-flex align-items-center justify-content-center w-100"
                             style="border-radius: 1rem;">
                            <div class="text-center dz-message">
                            <img src="/img/video-movie-play.svg" class="video-upload-icon"/>
                            <div>
                            <a href="#" class="btn btn-warning btn-block">Select file to upload</a>
                            </div>
                            <p class="upload-drag-suggestion">Or drag and drop film here</p>
                            <p class="upload-drag-suggestion">Supported formats: <span class="orange">MP4, MOV, AVI, 3GP</span></p>
                            </div>
                        </div>
                        <!-- Scoped slot -->
                        <template slot="files" slot-scope="props">
                            <div v-for="(file, i) in props.files" :key="file.id" :class="{'mt-5': i === 0}">
                                <div class="media">
                                    <img :src="file.dataUrl" class="img-fluid d-flex mr-3">
                                    <div class="media-body">
                                        <h3>{{ file.name }}</h3>
                                        <div class="progress" style="width: 50vw;">
                                            <div class="progress-bar bg-success"
                                                 :style="{width: file.upload.progress + '%'}"></div>
                                        </div>
                                        <pre>{{ file | json }} </pre>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </vue-transmit>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <h5 v-text="helpTitle"></h5>
                        <p v-text="helpText"></p>
                    </div>
                </div>
            </div>
            <form method="post" action="#" enctype="multipart/form-data">
                <div class="row video-upload-step-2" v-show="this.currentBlock == 2">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="list-unstyled upload-form-process">
                                <li class="active"><a href="#" @click.prevent="">General info</a></li>
                                <li><a href="#" @click.prevent="">Additional info</a></li>
                                <li><a href="#" @click.prevent="">Story line</a></li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label" for="title">Title</label>
                                <input v-model="form.title" type="text" name="title" class="form-control" id="title" />
                                <span v-if="errors.title" class="help-block">
                                    <strong v-text="errors.title[0]"></strong>
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="original_title">Original title</label>
                                <input v-model="form.original_title" type="text" name="original_title" class="form-control" id="original_title" />
                                <span v-if="errors.original_title" class="help-block">
                                    <strong v-text="errors.original_title[0]"></strong>
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="country">Country</label>
                                <v-select 
                                name="country"
                                id="country"
                                placeholder="Select country"
                                :options="countries"
                                :on-change="selectCountry">
                                </v-select>
                                <span v-if="errors.country" class="help-block">
                                    <strong v-text="errors.country[0]"></strong>
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="language">Language</label>
                                <v-select 
                                name="language"
                                id="language"
                                placeholder="Select language"
                                :options="languages"
                                :on-change="selectLanguage">
                                </v-select>
                                <span v-if="errors.language" class="help-block">
                                    <strong v-text="errors.language[0]"></strong>
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="producer">Producer</label>
                                <input v-model="form.producer" type="text" name="producer" class="form-control" id="producer" />
                                <span v-if="errors.producer" class="help-block">
                                    <strong v-text="errors.producer[0]"></strong>
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="director">Director</label>
                                <input v-model="form.director" type="text" name="director" class="form-control" id="director" />
                                <span v-if="errors.director" class="help-block">
                                    <strong v-text="errors.director[0]"></strong>
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="actors">Actors</label>
                                <input v-model="form.actors" type="text" name="actors" class="form-control" id="actors" value="" />
                                <span v-if="errors.actors" class="help-block">
                                    <strong v-text="errors.actors[0]"></strong>
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="awards">Awards</label>
                                <input v-model="form.awards" type="text" name="awards" class="form-control" id="awards" value="" />
                                <span v-if="errors.awards" class="help-block">
                                    <strong v-text="errors.awards[0]"></strong>
                                </span>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="soundtrack">Soundtrack</label>
                                <input v-model="form.soundtrack" type="text" name="soundtrack" class="form-control" id="soundtrack" value="" />
                                <span v-if="errors.soundtrack" class="help-block">
                                    <strong v-text="errors.soundtrack[0]"></strong>
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="production_year">Production year</label>
                                <input v-model.number="form.production_year" type="text" name="production_year" class="form-control" id="production_year" maxlength="4"/>
                                <span v-if="errors.production_year" class="help-block">
                                    <strong v-text="errors.production_year[0]"></strong>
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="release_year">Release year</label>
                                <input v-model.number="form.release_year" type="text" name="release_year" class="form-control" id="release_year" maxlength="4"/>
                                <span v-if="errors.release_year" class="help-block">
                                    <strong v-text="errors.release_year[0]"></strong>
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-transparent btn-block" @click.prevent="cancelUploading">Cancel</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-warning btn-block next-step" @click.prevent="nextBlock()">Next</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row video-upload-step-3" v-show="this.currentBlock == 3">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="list-unstyled upload-form-process">
                                <li><a href="#" @click.prevent="">General info</a></li>
                                <li class="active"><a href="#" @click.prevent="">Additional info</a></li>
                                <li><a href="#" @click.prevent="">Story line</a></li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label" for="photo">Photo</label>
                                <div class="photo-upload">
                                    <div class="btn btn-photo-upload" @click="choosePhoto">Choose</div>
                                </div>
                                <span class="small">Maximum image size is 2Mb</span>
                                <input type="file" name="photo" class="form-control hidden" id="photo" @change="photoChosen" />
                                <!--<span class="help-block">-->
                                <!--<strong>Error text here</strong>-->
                                <!--</span>-->
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="method_of">Style</label>
                                <!-- <select name="method_of" id="method_of" class="form-control" v-model="form.method_of">
                                    <option v-for="(name,id) in methods" v-text="name" :value="id"></option>
                                </select> -->
                                <v-select
                                name="method_of"
                                id="method_of"
                                :on-change="selectMethod"
                                :options="this.methods"
                                ></v-select>
                                <!--<span class="help-block">-->
                                <!--<strong>Error text here</strong>-->
                                <!--</span>-->
                            </div>
                            <div class="form-group">
                                <label class="control-label">Genres</label>
                                <v-select
                                        :on-change="genreCallback"
                                        multiple
                                        v-model="formtext.genres"
                                        :options="this.genres"
                                ></v-select>
                                <span v-if="errors.genres" class="help-block">
                                    <strong v-text="errors.genres[0]"></strong>
                                </span>
                            </div>
                             <div class="form-group">
                                <label class="control-label">Countries To Restrict Showing</label>
                                <v-select
                                        :on-change="selectRestrictedCountry"
                                        multiple
                                        :options="this.countries"
                                ></v-select>
                                <span v-if="errors.ctrs" class="help-block">
                                    <strong v-text="errors.ctrs[0]"></strong>
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="storyline">Storyline</label>
                                <textarea name="storyline" v-model="form.storyline" class="form-control editable-area" id="storyline"></textarea>
                                <!--<span class="help-block">-->
                                <!--<strong>Error text here</strong>-->
                                <!--</span>-->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-transparent btn-block prev-step" @click.prevent="prevBlock">Back</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-warning btn-block next-step" @click.prevent="nextBlock()">Next</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="photo_preview" v-if="form.photo">
                                <img :src="'/uploads/videos/'+form.photo" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row video-upload-step-4" v-show="this.currentBlock == 4">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="list-unstyled upload-form-process">
                                <li><a href="#" @click.prevent="">General info</a></li>
                                <li><a href="#" @click.prevent="">Additional info</a></li>
                                <li class="active"><a href="#" @click.prevent="">Story line</a></li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label" for="script">Script</label>
                                <textarea name="script" v-model="form.script" class="form-control editable-area" id="script"></textarea>
                                <!--<span class="help-block">-->
                                <!--<strong>Error text here</strong>-->
                                <!--</span>-->
                            </div>
                            <div class="form-group" v-if="subtitleUploadURL">
                                <label for="subtitles" class="control-label">Upload subtitles in .vtt format</label>
                                <subtitle-upload
                                id="subtitles"
                                :languages="languages"
                                :url="subtitleUploadURL"
                                @subtitle-loaded="onSubtitleLoaded"
                                >
                                </subtitle-upload>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Keywords</label>
                                <taggable
                                        :url="'/autosuggestKeywords'"
                                        :placeholder="'Add Keywords'"
                                        :field="'keywords'"
                                        :processUrl="'/checkKeyword'"
                                        :reservedOnly=false
                                ></taggable>
                                <!--<input type="text" name="keywords" v-model="form.keywords" class="form-control" id="keywords" value="" />-->
                                <!--<span class="help-block">-->
                                <!--<strong>Error text here</strong>-->
                                <!--</span>-->
                            </div>

                            <div class="form-group">
                                <label class="control-label">Tags</label>
                                <taggable
                                        :url="'/autosuggestTags'"
                                        :placeholder="'Add tags'"
                                        :field="'tags'"
                                        :processUrl="'/checkTag'"
                                        :reservedOnly=false
                                ></taggable>
                                <!--<input type="text" name="tags" v-model="form.tags" class="form-control" id="tags" value="" />-->
                                <!--<span class="help-block">-->
                                <!--<strong>Error text here</strong>-->
                                <!--</span>-->
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="didyouknow">Did you know?</label>
                                <textarea name="didyouknow" v-model="form.didyouknow" class="form-control editable-area" id="didyouknow"></textarea>
                                <!--<span class="help-block">-->
                                <!--<strong>Error text here</strong>-->
                                <!--</span>-->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-transparent btn-block prev-block" @click.prevent="prevBlock">Back</a>
                                </div>
                                <div class="col-md-6">
                                    <span class="btn btn-warning btn-block next-step" v-if="!form.videoUploadResult" :disabled="!form.videoUploadResult">Uploading..</span>
                                    <a href="#" class="btn btn-warning btn-block next-step" @click.prevent="nextBlock" v-else>
                                        Next
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row video-upload-step-5" v-show="this.currentBlock === 5 && form.videoUploadResult">
                    <div class="text-center">
                        <h2>Congratulations!<br>
                            You added your film</h2>
                        <h3>Shortly will now review your film and publish it.</h3>
                        <img src="/img/horn_icon.svg" />
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
    </div>
</template>

<script>
import Dropzone from 'dropzone';
import swal from 'sweetalert2'
    export default {
        data: function(){
            return {
                currentBlock:1,
                uploadProcessStarted: false,
                options: {
                    acceptedFileTypes: ['video/*'],
                    url: '/video/videoUpload'
                },
                helpTitle:"",
                helpText:"",
                progress:0,
                progressDoneText:"The film was uploaded successfully!",
                progressProcessing: "Processing uploaded film..",
                subtitleUploadURL: '/subtitles',
                form:{
                    title:"",
                    original_title:"",
                    country:"",
                    language:"",
                    producer:"",
                    director:"",
                    actors:"",
                    awards:"",
                    soundtrack:"",
                    production_year:"",
                    release_year:"",
                    photo:"",
                    genres:[],
                    storyline:"",
                    script:"",
                    method_of:"",
                    keywords:[],
                    didyouknow:"",
                    tags:[],
                    videoUploadResult:null,
                    restrictedCountries: [],
                    subtitleIds: []
                },
                formtext:{
                    genres:[],
                    keywords:[],
                    tags:[],
                },
                errors:{},
                video_id: null,
                languages:[],
                countries:[],
                methods:[],
                genres:[],
                genresObj:{

                }
            }
        },
        methods: {
            choosePhoto: function(){
                document.getElementById('photo').click()
            },
            photoChosen: function(){
                var photo = document.getElementById('photo');
                var file = photo.files[0];
                let formData = new FormData();
                formData.append('image', file);
                axios.post('/video/uploadCover', formData).then(function(response){
                    this.form.photo = response.data;

                }.bind(this))
            },
            selectCountry(newCountry){
                if (newCountry.value){
                    this.form.country = newCountry.value
                }
            },
            selectLanguage(newLanguage){
                if (newLanguage.value){
                    this.form.language = newLanguage.value
                }
            },
            selectMethod(newMethod){
                if (newMethod.value){
                    this.form.method_of = newMethod.value
                }
            },
            selectRestrictedCountry(countries) {
                if (countries.length){
                    this.form.restrictedCountries = countries.map(country => country.value);
                }
            },
            onSubtitleLoaded(request){
                if (request.target &&  request.target.response){
                    this.form.subtitleIds.push(request.target.response)
                }
            },
            genreCallback(val) {
                if(val.length > 0) {
                    let genresObj = this.genresObj
                    this.form.genres = val.map((genre)=> {
                        let index;
                        Object.keys(genresObj).forEach((key) => {
                            if (genresObj[key] === genre){
                                index = key

                            }
                        });
                        return index;
                    })
                }
            },

            progressBarWidth: function(){
                if(this.form.videoUploadResult){
                    return "width:100%"
                }else {
                    return "width:" + this.process + "%"
                }
            },
            nextBlock: function(){
                if(this.currentBlock !== 1) {
                    if(this.currentBlock === 3 && this.form.videoUploadResult !== null){
                        $(".next-step").text('Submit')
                    }
                    if(this.currentBlock === 4 && this.form.videoUploadResult !== null) {
                        axios.post('/video/vs' + this.currentBlock, this.form).then(function (response) {
                            if (response.status == 200) {
                                this.form.script = window.parent.tinymce.get('script').getContent();
                                this.form.didyouknow = window.parent.tinymce.get('didyouknow').getContent();
                                this.form.storyline = window.parent.tinymce.get('storyline').getContent();
                                axios.post('/video/uploader', this.form, {'timeout':10000}).then(function(response){
                                    if(response.status == 200) {
                                        this.currentBlock += 1
                                        this.uploadProcessStarted = false
                                        this.video_id = "/video/"+response.data
                                    }
                                }.bind(this)).catch(function(error){
                                    swal('Error','Video was not uploaded properly. Try again later please or report website administrators.','error')
                                }.bind(this))
                            } else {

                            }
                        }.bind(this)).catch(function (error) {
                            this.errors = error.response.data.errors
                        }.bind(this))

                    }else{
                        axios.post('/video/vs' + this.currentBlock, this.form).then(function (response) {
                            if (response.status == 200) {
                                this.currentBlock += 1
                            } else {

                            }
                        }.bind(this)).catch(function (error) {
                            this.errors = error.response.data.errors
                        }.bind(this))
                    }
                }else {
                    this.currentBlock += 1
                }
            },
            prevBlock: function(){
                this.currentBlock -=1
                if(this.currentBlock != 4){
                    $(".next-step").text('Next')
                }
            },
            cancelUploading: function(){
                window.location.reload()
            },
            changeCurrentBlock: function(blockId){
                this.currentBlock = blockId
                if(this.currentBlock === 3 && this.form.videoUploadResult !== null){
                    $(".next-step").text('Submit')
                }
            },
            // triggerBrowse() {
            //     this.$refs.uploader.triggerBrowseFiles()
            // },
            getCategories: function(){
                axios.get('/fetchCategories').then(function(response){
                    this.genresObj = response.data
                    // this.genres = $.map(response.data, function(value, index) {
                    //     return [value];
                    // });
                    this.genres = Object.keys(this.genresObj).map((key) => {
                        return {
                            value: key,
                            label: this.genresObj[key].name
                        }
                    })
                }.bind(this))
            },
            getLanguages: function(){
                axios.get('/fetchLanguages').then((response) => {
                    let languagesData = response.data
                    this.languages = Object.keys(languagesData).map((key) => {
                        return {
                            value: key,
                            label: languagesData[key]
                        }
                    })
                }).catch(function(error){
                    console.log(error.response.data)
                })
            },
            getCountries: function(){
                axios.get('/fetchCountries').then((response) => {
                    let countriesData = response.data
                    this.countries = Object.keys(countriesData).map((key) => {
                        return  {
                            value: key,
                            label: countriesData[key]
                        }
                    })
                }).catch(function(error){
                    console.log(error.response.data)
                })
            },
            getMethods: function(){
                axios.get('/fetchMethods').then(function(response){
                    let methodsData = response.data
                    this.methods = Object.keys(methodsData).map((key) => {
                        return {
                            value: key,
                            label: methodsData[key]
                        }
                    })
                }.bind(this)).catch(function(error){
                    console.log(error.response.data)
                })
            },
            getHelp(){
                axios.get('/video/helptext').then((response)=>{
                    this.helpTitle = response.data.title
                    this.helpText = response.data.content
                }).catch((error)=>{
                    console.log(error.response.data)
                })
            }
        },
        mounted: function(){
            this.getHelp()
            this.myDropzone = new Dropzone("div#dropzone", 
            { 
                url: this.options.url,
                paramName: "file",
                withCredentials: true,
                acceptedFiles: "video/mp4, video/3gpp, video/quicktime, video/x-msvideo",
                maxFilesize: 9999999999,
                timeout: 9999999999,
                chunking: true,
                // chunksUploaded: function (file, done) {
                //     setTimeout(()=>{
                //         axios.post('/cleanup',{'prefix': file.name}).then((response)=>{
                //
                //         }).catch((error)=>{
                //             console.log(error)
                //         })
                //     }, 2000)
                // }
            });
           this.myDropzone.on("addedfile", () => {
                this.currentBlock +=1
                this.uploadProcessStarted = true
            });
            this.myDropzone.on("uploadprogress", (file, progress, bytesSent) => {
                let progressPercent = Math.ceil(progress)
                if (progressPercent < 100){
                this.progress = progressPercent
                this.progressBarWidth()
                } else if (this.progress === 99 && progressPercent === 100){
                    this.progress = 100
                    this.progressBarWidth()
                }

            });
            this.myDropzone.on("success", (response) => {
                const result = JSON.parse(response.xhr.response)
                this.form.videoUploadResult = result
                this.progressBarWidth()
                axios.post('/cleanup',{'prefix': result.originalName}).then((response)=>{}).catch((error)=>{
                    console.log(error)
                })
            });
            this.myDropzone.on('error', (error, message)=>{
                this.currentBlock = 1
                this.uploadProcessStarted = false
                swal('Error',message,'error')
            });

            this.$on('changed', function(response){
                switch(response.field){
                    case "keywords":
                        this.formtext.keywords = response.tags
                        console.log(response)
                        this.form.keywords = response.tag_ids
                        break;
                    case "tags":
                        this.formtext.tags = response.tags
                        this.form.tags = response.tag_ids
                        break;
                }

            }.bind(this))
            this.getCountries()
            this.getLanguages()
            this.getCategories()
            this.getMethods()
            this.subtitleUploadURL = '/subtitles/'+this.video
        },
        watch:{
            'form.videoUploadResult'(){
                $(".upload-process-bar-inner").css("width","100%")
            }
        },
        filters: {
            json(value) {
                return JSON.stringify(value, null, 2)
            }
        }
    }
</script>