<template>
    <ul class="list-unstyled video-like-later">
        <li>
            <a href="#" @click.prevent="data_liked != 0 ? unlike() : like()">
                <div class="video-like-block">
                    <svg width="22px" height="20px" viewBox="0 0 22 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Site" stroke="none" stroke-width="1" fill-rule="evenodd">
                            <g id="Single-video" transform="translate(-1117.000000, -82.000000)" >
                                <g id="like" transform="translate(1106.000000, 70.000000)">
                                    <path d="M32.484375,16.078125 C32.8281267,16.9088583 33,17.7825475 33,18.6992188 C33,19.7018279 32.7923198,20.647131 32.3769531,21.5351562 C31.9615865,22.4231815 31.3815141,23.1751271 30.6367188,23.7910156 C30.0924452,24.2923202 28.6888134,25.5742084 26.4257812,27.6367188 C24.305979,29.5703222 23.009768,30.751951 22.5371094,31.1816406 C22.3795565,31.3105475 22.2005218,31.375 22,31.375 C21.7994782,31.375 21.6204435,31.3105475 21.4628906,31.1816406 C20.7610642,30.5514291 18.9205878,28.8685033 15.9414062,26.1328125 C14.5234304,24.8437436 13.7141937,24.1132821 13.5136719,23.9414062 C13.4563799,23.8841143 13.3919274,23.8268232 13.3203125,23.7695312 C12.5898401,23.1536428 12.0240905,22.4052778 11.6230469,21.5244141 C11.2220032,20.6435503 11.014323,19.7089893 11,18.7207031 C10.985677,17.8183549 11.1575503,16.9446657 11.515625,16.0996094 C11.8450537,15.297522 12.3177053,14.5885447 12.9335938,13.9726562 C14.1367248,12.7408793 15.5761635,12.125 17.2519531,12.125 C18.1686244,12.125 19.0387329,12.3255188 19.8623047,12.7265625 C20.6858765,13.1276062 21.3984345,13.6933557 22,14.4238281 C22.6015655,13.6933557 23.3141235,13.1276062 24.1376953,12.7265625 C24.9612671,12.3255188 25.8313756,12.125 26.7480469,12.125 C28.4238365,12.125 29.8632752,12.7337179 31.0664062,13.9511719 C31.6822947,14.5670604 32.1549463,15.2760377 32.484375,16.078125 Z M23.203125,15.5625 C22.9023422,15.9635437 22.5013046,16.1640625 22,16.1640625 C21.4986954,16.1640625 21.0976578,15.9635437 20.796875,15.5625 C20.3671854,15.0039035 19.8408234,14.5670589 19.2177734,14.2519531 C18.5947234,13.9368474 17.9394566,13.7792969 17.2519531,13.7792969 C16.0344991,13.7792969 14.9817753,14.2304642 14.09375,15.1328125 C13.6354144,15.5911481 13.2845064,16.1210907 13.0410156,16.7226562 C12.7688788,17.3528677 12.6399739,18.0188767 12.6542969,18.7207031 C12.6542969,19.4511755 12.804686,20.1494107 13.1054688,20.8154297 C13.4062515,21.4814486 13.8359347,22.0436175 14.3945312,22.5019531 C14.4231772,22.5449221 14.4804683,22.5950518 14.5664062,22.6523438 C14.5807292,22.6666667 14.595052,22.6881509 14.609375,22.7167969 C14.8671888,22.9459647 15.5403591,23.5546826 16.6289062,24.5429688 L17.6601562,25.4882812 C19.7226666,27.3645927 21.1692667,28.6822879 22,29.4414062 C22.6588575,28.8398407 23.761711,27.8372466 25.3085938,26.4335938 C27.2421972,24.6432202 28.6529904,23.3541706 29.5410156,22.5664062 L29.5839844,22.5234375 C30.1282579,22.0794249 30.5579411,21.5279981 30.8730469,20.8691406 C31.1881526,20.1816372 31.3457031,19.4583371 31.3457031,18.6992188 C31.3457031,17.9973923 31.2167982,17.3313834 30.9589844,16.7011719 C30.7154936,16.0996064 30.3645856,15.5696638 29.90625,15.1113281 C29.0182247,14.2233029 27.9655009,13.7792969 26.7480469,13.7792969 C26.0605434,13.7792969 25.4052766,13.9332667 24.7822266,14.2412109 C24.1591766,14.5491552 23.6328146,14.9895805 23.203125,15.5625 Z" id=""></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </a>
        </li>
        <li>
            <a href="#"  @click.prevent="data_watchlatered != 0 ? unWatchLater() : watchLater()">
                <div class="video-watch-later-block">
                    <svg width="23px" height="20px" viewBox="0 0 23 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Site" stroke="none" stroke-width="1" fill-rule="evenodd">
                            <g id="Video-List" transform="translate(-34.000000, -136.000000)" >
                                <g id="aside" transform="translate(0.000000, 60.000000)">
                                    <g id="wish-list-copy-2" transform="translate(18.000000, 76.000000)">
                                        <path d="M28.907,4.658 C28.77,4.521 28.604,4.453 28.409,4.453 C28.214,4.453 28.048,4.521 27.911,4.658 C27.774,4.795 27.706,4.961 27.706,5.156 L27.706,9.844 C27.706,10.234 27.843,10.566 28.116,10.84 C28.389,11.113 28.721,11.25 29.112,11.25 L32.725,11.25 C32.921,11.25 33.087,11.181 33.223,11.045 C33.36,10.908 33.428,10.742 33.428,10.547 C33.428,10.351 33.36,10.185 33.223,10.049 C33.087,9.912 32.921,9.844 32.725,9.844 L29.112,9.844 L29.112,5.156 C29.112,4.961 29.044,4.795 28.907,4.658 M38.409,10 C38.409,11.81 37.963,13.483 37.071,15.019 C36.179,16.556 34.965,17.77 33.428,18.662 C31.892,19.554 30.219,20 28.409,20 C26.599,20 24.926,19.554 23.389,18.662 C22.873,18.362 22.407,18.011 21.965,17.636 L22.886,16.576 C23.543,17.132 24.27,17.586 25.069,17.929 C26.124,18.372 27.237,18.594 28.409,18.594 C29.581,18.594 30.694,18.366 31.749,17.91 C32.778,17.48 33.689,16.868 34.483,16.074 C35.278,15.28 35.896,14.368 36.339,13.34 C36.782,12.285 37.003,11.172 37.003,10 C37.003,8.828 36.775,7.715 36.319,6.66 C35.889,5.631 35.278,4.72 34.483,3.926 C33.689,3.131 32.778,2.513 31.749,2.07 C30.694,1.627 29.581,1.406 28.409,1.406 C27.237,1.406 26.124,1.634 25.069,2.09 C24.04,2.519 23.129,3.131 22.335,3.926 C21.54,4.72 20.922,5.631 20.479,6.66 C20.115,7.529 19.909,8.439 19.844,9.387 L22.002,9.387 C22.064,9.387 22.117,9.412 22.16,9.463 C22.203,9.513 22.224,9.57 22.224,9.633 C22.224,9.702 22.201,9.761 22.154,9.807 L19.27,13.206 C19.223,13.252 19.169,13.276 19.106,13.276 C19.044,13.276 18.99,13.252 18.943,13.206 L16.058,9.807 C16.019,9.761 16,9.704 16,9.638 C16,9.572 16.019,9.513 16.058,9.463 C16.097,9.412 16.152,9.387 16.222,9.387 L18.448,9.387 C18.538,7.813 18.957,6.34 19.747,4.98 C20.639,3.444 21.853,2.23 23.389,1.338 C24.926,0.446 26.599,0 28.409,0 C30.219,0 31.892,0.449 33.428,1.347 C34.965,2.233 36.179,3.444 37.071,4.98 C37.963,6.517 38.409,8.19 38.409,10" id="Fill-1"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </a>
        </li>
    </ul>
</template>

<script>
    import swal from 'sweetalert2';

    export default {
        props:['video','liked','watchlatered'],
        data: function () {
            return {
                data_liked:"",
                data_watchlatered:""
            }
        },
        methods:{
            like: function(){
                axios.post('/video/like',{'video':this.video}).then(function(response){
                    if(response.status == 200){
                        $('.video-like-block').parent().parent().addClass('active');
                        this.data_liked = 1
                    }
                }.bind(this)).catch(function(error){
                    console.log(error)
                })
            },
            unlike: function(){
                axios.post('/video/unlike',{'video':this.video}).then(function(response){
                    if(response.status == 200){
                        $('.video-like-block').parent().parent().removeClass('active');
                        this.data_liked = ''
                    }
                }.bind(this)).catch(function(error){
                    console.log(error)
                })
            },
            watchLater: function(){
                axios.post('/video/watchlater',{'video':this.video}).then(function(response){
                    $('.video-watch-later-block').parent().parent().addClass('active');
                    this.data_watchlatered = 1
                    swal('Success','Added to Watch Later','success');

                }.bind(this)).catch(function(error){
                    console.log(error)
                })
            },
            unWatchLater: function(){
                axios.post('/video/unwatchlater',{'video':this.video}).then(function(response){
                    $('.video-watch-later-block').parent().parent().removeClass('active');
                    this.data_watchlatered = ''
                    swal('Success','Removed from Watch Later','error');
                }.bind(this)).catch(function(error){
                    console.log(error)
                })
            }
        },
        mounted: function(){
            this.data_liked = this.liked
            this.data_watchlatered = this.watchlatered
            if(this.data_liked != false){
                $('.video-like-block').parent().parent().addClass('active');
            }
            if(this.watchlatered != false){
                $('.video-watch-later-block').parent().parent().addClass('active');
            }
        }
    }
</script>