<template>
    <video controlsList="nodownload" controls class="video-js vjs-default-skin vjs-big-play-centered" id="video-js"></video>
</template>

<script>
    export default {
        props: ['video', 'p360', 'p480', 'p720', 'p1080','time','track'],
        data: function () {
            return {
                tracksData: [{ src:'', kind:'captions', srclang:'en', label:'English' }],
                player: null,
                timeframes:[],
                textTracks:[]
            }
        },
        methods: {
            getSubtitles(){
                return axios.get('/subtitles/'+this.video).then((response)=>{
                    response.data.forEach((subtitle)=>{
                        this.textTracks.push({
                            src:'/uploads/subtitles/' + this.video + '/' + subtitle.file,
                            kind:'captions',
                            srclang:subtitle.language.iso_code,
                            label:subtitle.language.name
                        })
                    })
                }).catch((error)=>{
                    console.log(error.response)
                })
            },
            addTimeFrameStart(timeframe){
                if(this.track == "true") {
                    this.timeframes.push({start: timeframe})
                }else{
                    this.timeframes.push({start: 0})
                }
            },
            addTimeFrameStop(timeframe){
                if (this.timeframes){
                    let frameIndex = this.timeframes ? this.timeframes.length : 0;
                    if (frameIndex> 0){
                        frameIndex--;
                    }
                    if (this.timeframes[frameIndex]){
                        if(this.track == "true") {
                            this.timeframes[frameIndex].stop = timeframe
                        }else{
                            this.timeframes[frameIndex].stop = 0
                        }
                    }
                }
                
            },
            leavingPage(){
                this.addTimeFrameStop(this.player.currentTime())
                axios.post('/video/storewatchedtime/'+this.video,{"timeframes": this.timeframes}).then((response)=>{

                }).catch((error)=>{
                    console.log(error.response.data)
                })
            }
        },
        mounted: function () {
            this.getSubtitles()
                .then(() => {
                    this.player = videojs('video-js', {
                        controls: true,
                        tracks:this.textTracks,
                        fluid: true,
                        plugins: {
                            videoJsResolutionSwitcher: {
                                default: '480',
                                dynamicLabel: true
                            }
                        }
                    }, function () {
                        this.player.updateSrc([
                            {
                                src: this.p360,
                                type: 'video/mp4',
                                label: '360'
                            },
                            {
                                src: this.p480,
                                type: 'video/mp4',
                                label: '480'
                            },
                            {
                                src: this.p720,
                                type: 'video/mp4',
                                label: '720'
                            },
                            {
                                src: this.p1080,
                                type: 'video/mp4',
                                label: '1080'
                            }
                        ])

                        this.player.currentTime(this.time.paused_at)

                        this.player.on('resolutionchange', function(){
                            console.info('Source changed to %s', this.player.src())
                        }.bind(this))

                        this.player.on('seeking', function(){

                        }.bind(this))

                        this.player.on('play', function(){
                            this.addTimeFrameStart(this.player.currentTime())
                            axios.post('/video/addtohistory',{'video': this.video}).then(function(response){

                            }).catch(function(error){
                                console.log(error)
                            })
                        }.bind(this))

                        this.player.on('pause', function(){
                            this.addTimeFrameStop(this.player.currentTime())
                            var currenttime = this.player.currentTime();
                            axios.post('/videotimer/saveplayerstate/'+this.video,{
                                'currenttime': currenttime
                            }).then(function(response){
                                // console.log(response.data);
                            }).catch(function(error){
                                console.log(error);
                            });
                        }.bind(this));

                        this.player.on('ended', function(){
                            axios.delete('/videotimer/removeplayerstate/'+this.video)
                                .then(function(response){
                                    // console.log(response.data);
                                }).catch(function(error){
                                console.log(error);
                            });
                        }.bind(this));

                    }.bind(this))
                })
            window.onbeforeunload = this.leavingPage;

        }
    }
</script>