// Fonts
@import url("https://fonts.googleapis.com/css?family=Open Sans:100,300,400,500,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~select2/src/scss/core.scss";
// Video JS
@import "/js/videojs-resolution-switcher/lib/videojs-resolution-switcher.css";
$orange: #F29559;
$yellow: #f2d492;
$light_grey: #D9D9D9;
$light_grey_blue: #283845;
$mid_grey_blue: #1F2B38;
$dark_grey_blue: #19232E;
$base-line-height: 24px;
$white: rgb(255,
255,
255);
$off-white: rgba($white,
0.2);
$spin-duration: 1s;
$pulse-duration: 750ms;
$star-rating-outline-color: #cccccc;
$star-rating-fill-color: $orange;
$star-rating-aside-color: #999999;
html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background: $light_grey_blue;
  color: #BFCDD9;
}

hr{
  border-color:rgba(191,205,217,0.3) !important;
}

.unsubscribe-button{
  margin-top:65px;

}

.follow-list{
  .row {
    margin-bottom: 24px;
  }
  h3{
    a {
      font-size: 20px;
      color: #FFF;
      &:hover, &:focus, &:active{
        text-decoration: none;
      }
    }
  }
  .follow-info {
    padding-top:30px;
    ul {
      li {
        img {
          position: relative;
          top: -2px;
          right: 5px;
        }
        margin-right: 45px;
        padding-left: 10px;
      }
    }
  }
}

.profile-block{
  padding-bottom:30px;
  &__about{
    &__text{
      font-size:13px;
      color:#FFF;
    }
  }
  &__awards{
    &__text{
      font-size:13px;
      color:#F29559;
    }
  }
  &__info{
    h3{
      color:#BFCDD9;
      font-size:24px;
      font-weight: 300;
    }
    &__stats{
      img{
        top: -2px;
        right: 5px;
        position: relative;
      }
    }
    color:#7E878F;
    font-size:13px;
    .btn{
      margin-top:43px;
      padding-top:8px;
      padding-bottom:8px;
      font-size:13px;
    }
  }
}

.orange {
  color: $orange;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    color: $orange;
    text-decoration: none;
    opacity: 0.8;
  }
}

button,
button:active,
button:focus,
button:hover,
.btn,
.btn:active,
.btn:focus,
.btn:hover,
video,
div,
div:focus,
div:active {
  outline: none !important;
}

#film_bg {
  min-height: 100%;
  height: 100%; // background: url("/img/bg-video-1.jpg") center center no-repeat;
  // background-size: cover;
}

#app,
.h100 {
  min-height: 100%;
  height: 100%;
}

hr {
  border-color: #BFCDD9;
}

.video-description {
  h5 {
    color: #BFCDD9;
    font-weight: 600;
    font-size: 13px;
  }
  li {
    a {
      color: $orange;
    }
  }
  color:#FFF;
  .video-description-text {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
  }
}

.video-attributes {
  margin: 12px 0px;
  color: #FFF;
  h5 {
    font-size: 13px;
    margin-bottom: 11px;
    color: #BFCDD9;
    font-weight: 600;
  }
  li {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 4px;
  }
  span {
    color: $orange;
    font-weight: normal;
  }
}

.video-awards {
  color: $orange;
  h5 {
    font-size: 13px;
    color: #BFCDD9;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 4px;
  }
}

.video-actors,
.video-tags {
  color: $orange;
  font-size: 13px;
  font-weight: normal;
  h5 {
    margin-bottom: 4px;
    font-size: 13px;
    color: #BFCDD9;
    font-weight: 600;
  }
  li {
    a {
      color: $orange;
    }
  }
}

.auth-block {
  background: #FFF;
  border-radius: 12px;
  padding: 16px 31px;
  z-index: 999; // transition: all ease 1s;
  .heading {
    font-size: 13px;
    font-weight: 600;
    color: $light_grey_blue;
    margin: 0 0 14px 0;
  }
  input[type=text],
  input[type=email],
  input[type=password] {
    &::placeholder {
      font-weight: normal;
    }
    font-weight:600;
    outline: none;
    border:none;
    box-shadow: none;
    border-radius:0px;
    border-bottom: 1px solid $light_grey;
    &:active,
    &:focus {
      border-bottom: 1px solid $orange;
    }
  }
  .form-group {
    position: relative;
  }
  .form-control {
    padding: 6px;
    z-index: 1; // &::placeholder {
    //   font-size: 13px;
    //   transform: translateY(0%); // transition: all 0.6s cubic-bezier(0.4, 0.0, 0.2, 1);
    //   font-family: "Open Sans", sans-serif;
    // }
    &:focus {
      &::placeholder {
        color: $orange;
        font-size: 8px;
        transform: translateY(-180%);
        text-transform: uppercase;
      }
    }
  }
  .form-control:focus+.auth-label,
  .form-control:valid+.auth-label {
    bottom: 20px;
    text-transform: uppercase;
    font-size: 8px;
    color: $orange;
  }
  .form-group.has-error .auth-label {
    bottom: 40px;
  }
  .auth-label {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    color: #d9d9d9;
    position: absolute;
    bottom: 2px;
    left: 6px;
    z-index: 100; // transition: all 0.6s cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  .submit-wrap {
    display: block;
    padding-top: 8px;
    margin-bottom: 0;
  }
  .btn-gradiented {
    font-size: 13px;
  }
  .social-auth {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    .btn-social-auth {
      height: 38px;
      border-radius: 4px;
      font-size: 13px;
      padding: 8px 10px;
      width: calc(50% - 4px);
      margin: 0;
    }
  }
}
.version-text {
  display: block;
  font-size: 16px;
  color: white;
  font-weight: 400;
  padding: 25px 0;
  text-align: center;
}
.auth-navbar {
  margin-right: 3px;
  @media (min-width: 768px) {
    margin-right: 0;
  }
  button {
    margin-left: 7px;
  }
}
#auth-menu {
  max-width: 300px;
  
  @media (min-width: 540px) {
    max-width: 400px;
  }
  @media (min-width: 768px) {
    max-width: 600px;
  }

  .login-form {
    max-width: 400px;
    margin: 0 auto;
    display: block;
  }
  input {
    background: $light_grey_blue;
      border: 1px solid #7E878F;
      &:hover,
      &:active,
      &:focus {
        border: 1px solid $orange;
        box-shadow: none !important;
      }
      color:#FFFFFF;
      &::placeholder {
        color: #7E878F;
      }
  }
}
.input-errors {
  display: block;
  margin: 5px 0;
  padding: 3px 4px;
  background-color: red;
  color: white;
  border-radius: 4px;
  font-size: 12px;
}
.shortly-preview-modal-trigger {
  position: fixed;
  right: -69px;
top: 220px;
  transform: rotate(-90deg);
}
.auth-form-tabs {
  margin-bottom: 10px;
  border-bottom: none;
  padding: 0 1px;
  li {
    &.active {
      a {
        font-weight: 600;
        color: $orange;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $orange;
        &:hover,
        &:focus,
        &:active {
          font-weight: 600;
          color: $orange;
          background-color: transparent;
          border: none;
          border-bottom: 2px solid $orange;
        }
      }
    }
    width:50%;
    text-align:center;
    a {
      font-weight: 600;
      font-size: 12px;
      @media (min-width: 768px) {
        font-size: 13px;
      }
      color: $light_grey;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid $light_grey;
      white-space: pre;
      padding: 8px 12px;
      margin: 0 -1px;
      &:hover,
      &:focus,
      &:active {
        font-weight: 600;
        color: $orange;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $orange;
      }
    }
  }
}

.resetlink{
  margin-top:10px;
  a {
    color: $orange;
    font-size: 13px;
    font-weight: 600;
    &:hover, &:active, &:focus{
      opacity:0.9;
    }
  }
}

.modal{
  &-dialog{
    margin:100px auto;
  }
}

.vcenter {
  display: flex;
  align-items: center;
}

.v-center-translate {
  width: 100%;
  display: flex;
  min-height: 500px;
  justify-content: center;
  align-items: center;
  transform: translateY(-30%);
}

.btn {
  &-unsubscribe{
    background:#19232E;
    color:#7E878F;
    text-transform:none;
    &:hover, &:active, &:focus{
      opacity:0.8;
    }
  }
  &-facebook {
    background: #3B5998;
    color: #FFF;
    font-weight: 600;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.9;
      color: #FFF;
    }
  }
  &-google {
    background: #EA4335;
    color: #FFF;
    font-weight: 600;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.9;
      color: #FFF;
    }
  }
  &-gradiented {
    font-weight: 600;
    border-radius: 7px;
    background-image: linear-gradient(to right, #E76F51 0%, #F2D492 51%, #E76F51 100%);
    background-size: 200% auto;
    background-clip: padding-box;
    transition: 0.5s;
    color: #FFF;
    padding: 10px;
    &:hover,
    &:active,
    &:focus {
      color: #FFF;
      background-image: linear-gradient(to right, #E76F51 0%, #F2D492 51%, #E76F51 100%);
      background-position: right center;
      box-shadow: none;
    }
  }
  &-transparent {
    background: transparent;
    border: 1px solid #7E878F;
    border-radius: 4px;
    color: #BFCDD9;
    padding: 8px 67px;
    &:hover,
    &:active,
    &:focus {
      color: $dark_grey_blue;
      background: $orange;
      border-color: $orange;
    }
  }
}

.container-fluid.h100 {
  margin: 0;
  padding: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s
}

.slide-enter,
.slide-leave-to
/* .fade-leave-active below version 2.1.8 */

{
  transform: translateY(100px);
  opacity: 0
}

.plans {
  &.box {
    position: relative;
    &.js-loading {
      opacity: 0.6;
      cursor: not-allowed;
      &:after {
        position: absolute;
        width: 264px;
        height: 185px;
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 185px;
        line-height: 100px;
        text-indent: -91px;
        margin: auto;
        content: ' .';
        animation: dots 1s steps(5, end) infinite;
        @keyframes dots {
          0%,
          20% {
            color: rgba(0, 0, 0, 0);
            text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
          }
          40% {
            color: white;
            text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
          }
          60% {
            text-shadow: .25em 0 0 white, .5em 0 0 rgba(0, 0, 0, 0);
          }
          80%,
          100% {
            text-shadow: .25em 0 0 white, .5em 0 0 white;
          }
        }
      }
    }
  }
  .row {
    margin-bottom: 40px;
  }
  h3 {
    font-size: 20px;
  }
  .text-center {
    box-shadow: 0px 0px 20px $dark_grey_blue;
    padding: 20px;
    border-radius: 10px;
    span {
      font-size: 28px;
      display: block;
    }
    &:hover {
      background: $mid_grey_blue;
      cursor: pointer;
    }
  }
  a {
    text-decoration: none;
    &[disabled="disabled"] {
      .text-center {
        background-color: $mid_grey_blue;
        cursor: not-allowed;
      }
    }
  }
}

.tc-checkbox {
  a {
    color: $orange;
  }
}
.user-videos {
  .user-videos-list {
    .user-video {
      margin-bottom: 24px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  .pagination {
    .active {
      a {
        background-color: $orange;
        border-color: $orange;
      }
    }
  }
}
.dropdown-menu {
  background: $light_grey_blue;
  color: #FFF;
  .user-info {
    padding: 12px 16px;
    .user-avatar--big {
      width: 60px;
      height: 60px;
    }
    .username {
      font-weight: 600;
      font-size: 13px;
      color: #BFCDD9;
    }
    .userrole {
      font-size: 11px;
      font-color: #FFFFFF;
    }
  }
  i.profile-nav-icon {
    width: 18px;
    display: inline-block;
    margin-right: 18px;
    img {
      max-height: 18px;
    }
  }
  a,
  i {
    color: #FFF !important;
  }
  &>li {
    &>a:hover,
    &>a:active,
    &>a:focus {
      background: $light_grey_blue;
    }
  }
  i {
    margin-right: 5px;
  }
}

.btn-warning {
  background: $orange;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  color: $dark_grey_blue !important;
  transition: all 0.3s ease;
  &:hover {
    color: $dark_grey_blue !important;
    background: $yellow !important;
  }
  &:active,
  &:focus {
    background: $mid_grey_blue !important;
  } // &:hover, &:active, &:focus{
  //   color:$orange !important;
  //   background: transparent;
  // }
  // $light_grey_blue
}

.container-fluid--header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 100%;
  &:before,
  &:after {
    display: none;
  }
}

.profile-nav {
  .dropdown-menu {
    right: 0;
    left: initial;
  }
}

.nav-search {
  width: 100%;
  .search-form {
    border-radius: 4px 0 0 4px;
    width: 445px;
    .search-wrap {
      width: 100%;
      display: flex;
      height: 30px;
      align-content: center;
      margin: 0;
      padding: 0;
      position: relative;
      margin-left: 56px;
      border: none;
      box-shadow: none;
    }
    input[type=search] {
      height: 30px;
      border-radius: 4px 0 0 4px;
      padding: 7px;
      background: $light_grey_blue;
      border: 1px solid transparent;
      color: $orange;
      width: 100%; // line-height: 1;
      &:hover,
      &:active,
      &:focus {
        outline: none;
        box-shadow: none;
      }
      &:focus {
        border: 1px solid $orange;
        border-right-color: transparent;
      }
      &::placeholder {
        color: #7E878F;
      }
    }
    button {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 30px;
      background: $orange;
      border: 1px solid $orange; // margin-left: -30px;
      border-radius: 0px 4px 4px 0px;
      z-index: 2;
      img {
        max-height: 16px;
      }
    }
  }
  .v-autocomplete {
    position: relative;
    width: 100%;
  }
  .v-autocomplete-list {
    position: absolute;
    width: 100%;
    top: 34px;
    padding: 4px 0;
    border-radius: 4px;
    background-color: $light_grey_blue;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    .v-autocomplete-list-item {
      padding: 0 12px;
      width: 100%;
      &:hover,
      &:focus,
      &.v-autocomplete-item-active {
        background-color: $mid_grey_blue;
        cursor: pointer;
      }
      span {
        text-decoration: none;
        margin-bottom: 4px;
        display: inline-block;
        width: 100%;
        font-size: 16px;
        text-align: left;
        color: $orange;
      }
    }
    &-anchor-text {
      display: none;
    }
  }
}

.nav-main {
  .nav {
    display: flex;
    justify-content: flex-start;
    .dropdown.open {
      .dropdown-toggle {
        background-color: transparent;
      }
    }
    .dropdown-menu {
      left: initial;
      right: 0;
      padding-bottom: 10px;
      background: $light_grey_blue;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -7px;
        right: 38px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6.5px 7px 6.5px;
        border-color: transparent transparent $light_grey_blue transparent;
      }
    }
  }
}

.navbar-inverse {
  margin-bottom: 0px;
  background: $mid_grey_blue;
  border: none;
  height: 60px;
  .navbar-brand {
    padding: 0px;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 15px;
  }
  .navbar-nav {
    li {
      .dropdown-menu {
        min-width: 300px;
      }
    }
    &>.open {
      &>a {
        &:hover,
        &:active,
        &:focus {
          background: $dark_grey_blue;
        }
      }
    }
  }
  .btn-xs {
    padding: 2px 6px;
    line-height: 20px;
    font-size: 11px;
    margin-top: 17px;
  }
  li.dropdown {
    a {
      padding: 9px 25px;
    }
  }
}

.site-header {
  z-index: 9999;
}

.subscribers-sidebar {
  position: fixed;
  overflow: hidden;
  text-align: center;
  padding: 20px 0px;
  min-width: 92px;
  padding-top: 70px;
  top: 0;
  bottom: 0;
  left: 0;
  float: left;
  background: $dark_grey_blue;
  .user-follows{
    width: calc(100% + 17px);
    height: 100%;
    margin-right: -17px;
    overflow-y: scroll;
    overflow-x: hidden;
    a{
      display:inline-block;
      margin-bottom:12px;
    }
  }
}

.user-actions {
  margin-bottom: 10px;
  a {
    display: block;
    color: #7E878F;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    font-weight: 600;
    padding: 10px 0px;
    svg {
      fill: #7E878F;
    }
    &:hover {
      color: $orange;
      svg g {
        fill: $orange;
      }
    }
    &:active,
    &:focus,
    &.active {
      background-color: rgba(0, 0, 0, 0.15);
      color: $orange;
      svg g {
        fill: $orange;
      }
    }
    span {
      display: block;
    }
  }
}

.plans-heading {
  padding: 10px 0px;
  background: $mid_grey_blue;
  h1 {
    font-size: 36px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #bfcdd9;
    //margin: 24px 0 24px 0;
  }
  .btn {
    margin: 28px 0px 38px 0px;
  }
}

.choose-term {
  text-align: center;
  margin: 0px 0px 24px 0px;
  .nav-pills {
    border: 1px solid $dark_grey_blue;
    border-radius: 4px;
    display: inline-block;
    &>li {
      &>a {
        width: 280px;
        border-radius: 0px;
        background: transparent;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #bfcdd9;
        &:hover,
        &:active,
        &:focus {
          background: $dark_grey_blue;
        }
      }
    }
    &>li.active {
      &>a {
        color: #BFCDD9;
        width: 280px;
        border-radius: 0px;
        background: $dark_grey_blue;
      }
    }
  }
}
.shortly-video-overview {
  padding: 20px 0;
  .preview-shortly {
    margin: 20px auto;
  }
}
.tariffs {
  padding-bottom: 30px;
  .tarif-box {
    background: $light_grey_blue;
    box-shadow: 0px 22px 42px $mid_grey_blue;
    padding: 38px;
    border-radius: 12px;
    ul {
      li {
        background: url('/img/star_icon.png') 0px 5px no-repeat;
        padding-left: 20px;
        color: #FFFFFF;
      }
      margin-bottom:38px;
    }
    .choose-term{
      ul{
        li{
          background-image: none;
          padding-left:0px;
          a{
            width:120px;
          }
        }
      }
    }
    h2 {
      color: $orange;
      font-size: 16px;
      letter-spacing: 5px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 24px;
    }
    .price {
      color: $orange;
      font-size: 16px;
      font-weight: 600;
      line-height: 2em;
      margin-bottom: 38px;
      span {
        font-size: 40px;
        font-weight: 900;
        display: block;
      }
    }
    .btn {
      padding: 7px 40px;
    } // .btn {
    //   border-radius: 3px;
    //   border: solid 1px #7e878f;
    //   span {
    //     font-size: 13px;
    //     font-weight: 600;
    //     font-style: normal;
    //     font-stretch: normal;
    //     line-height: 1.54;
    //     letter-spacing: normal;
    //     text-align: center;
    //     color: #bfcdd9;
    //   }
    // }
  }
}

.tarif-box-wrap[disabled="disabled"] {
  .tarif-box {
    &>* {
      opacity: 0.75;
    }
    &:before {
      content: 'We are in the process of gathering content right now and will open for Film Watchers shortly (pun intended!)';
      width: calc(100% - 30px);
      height: 120px;
      padding: 10px;
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      text-align: center;
      color: $mid_grey_blue;
      background-color: $orange;
      opacity: 1;
      display: block;
      position: absolute;
      bottom: 0;
      left: 15px;
      z-index: 100;
      border-radius: 0 0 12px 12px;
    }
  }
}

.card-details {
  margin-top: 38px;
  margin-bottom: 58px;
}

#annually {
  display: none;
}

.timer-filter {
  .timer-filter-list {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  li {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    color: #bfcdd9;
  }
  .v-select {
    max-width: 120px;
    .dropdown-toggle {
      border: none;
    }
    input[type="search"].form-control {
      border: none;
      height: 36px !important;
      line-height: 1.2;
      font-size: 16px !important;
      text-align: left;
      font-weight: bold;
      cursor: pointer;
      box-shadow: none;
      &:focus {
        border: none;
      }
      &[type="search"] {
        padding: 1px 20px 0 12px !important;
        color: $orange;
        &::placeholder {
          color: $orange !important;
        }
      }
    }
    .open-indicator {
      position: absolute;
      right: 8px;
      top: 10px;
      bottom: initial;
      width: 20px;
      height: 20px;
      margin: 0;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjRjI5NTU5Ij48cGF0aCBkPSJNNy40MSA3Ljg0TDEyIDEyLjQybDQuNTktNC41OEwxOCA5LjI1bC02IDYtNi02eiIvPjwvc3ZnPg==);
      &:before {
        display: none;
      }
    }
    &.open {
      .form-control {
        border-color: $orange;
      }
      .open-indicator {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjRjI5NTU5Ij48cGF0aCBkPSJNNy40MSAxNS40MUwxMiAxMC44M2w0LjU5IDQuNThMMTggMTRsLTYtNi02IDZ6Ii8+PC9zdmc+);
      }
    }
    span.selected-tag {
      width: 100%;
      height: 36px;
      position: absolute;
      color: $orange;
      left: 0;
      top: 1px;
      padding: 0 20px 0 12px;
      line-height: 36px;
      font-weight: bold;
      margin: 0;
      text-align: left;
    }
    .dropdown-menu {
      width: 120px;
      min-width: 120px;
      top: 42px;
      border-radius: 4px;
      border: none;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
      background-color: $light_grey_blue;
      overflow: auto;
      li {
        width: 100%;
        a {
          color: #bfcdd9;
          padding: 2px 12px;
          font-size: 16px;
        }
        &.highlight {
          a {
            background-color: $mid_grey_blue;
          }
        }
      }
    }
  }
}

.container--user-settings {
  padding-top: 25px;
}
.reset-password-input {
  background: $light_grey_blue;
  border: 1px solid #7E878F;
  &:hover,
  &:active,
  &:focus {
    border: 1px solid $orange;
    box-shadow: none !important;
  }
  color:#FFFFFF;
  &::placeholder {
    color: #7E878F;
  }
}
.user- {
  &membership,
  &billing,
  &notifications,
  &profile,
  &security {
    h2 {
      margin-top: 0px;
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: 100;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #bfcdd9;
    }
    input,
    textarea,
    select {
      background: $light_grey_blue;
      border: 1px solid #7E878F;
      &:hover,
      &:active,
      &:focus {
        border: 1px solid $orange;
        box-shadow: none !important;
      }
      color:#FFFFFF;
      &::placeholder {
        color: #7E878F;
      }
    }
    .box {
      a {
        color: $orange;
        font-size: 13px;
        line-height: 1.85;
      }
      p {
        font-size: 13px;
        color: #FFF;
        line-height: 1.85;
        margin: 0px 0px 2px;
      }
      h4 {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 18px;
        line-height: 1.5;
      }
      hr {
        margin: 24px -38px;
        background: #BFCDD9;
        opacity: 0.3;
      }
      .control-label {
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.54;
        letter-spacing: normal;
        text-align: left;
        color: #bfcdd9;
      }
      .form-control {
        height: 40px;
      }
      textarea.form-control{
        height:auto;
      }
      padding:24px 38px;
      border-radius:12px;
      box-shadow: 0px 22px 42px 0px $dark_grey_blue;
      background: $light_grey_blue;
    }
  }
  &billing {
    p {
      span {
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 10px;
      }
    }
  }
  &profile {
    .profile-image {
      a {
        position: relative;
      }
      span {
        img {
          position: absolute;
          top: -15px;
          left: 25px;
        }
      }
    }
  }
}

.list-settings-groups {
  a {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #bfcdd9;
    margin-bottom: 16px;
    border-left: 3px solid transparent;
    text-decoration: none;
    display: inline-block;
    padding-left: 12px;
    transition: all 0.3s ease;
    &:hover,
    &:active,
    &:focus,
    &.active {
      font-weight: bold;
      border-left: 3px solid $orange;
      text-decoration: none;
    }
  }
}

.history-item {
  .video-wrapper {
    margin-bottom: 24px;
  }
  a {
    color: #FFFFFF;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      opacity: 0.9;
    }
  }
  .video-author {
    img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      border-radius: 50%;
    }
    a {
      color: #BFCDD9;
    }
  }
}

.content-full {
  padding-top: 92px;
  padding-left: 24px;
  padding-right: 24px;
  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  &.has-sidebar {
    @media (min-width: 768px) {
      margin-left: 92px;
    }
  }
  .container-fluid {
    width: 100%;
  }
}

.filter-page-title {
  font-size: 36px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #bfcdd9;
  padding: 0 15px;
  margin: 0 0 24px 0;
}

.video-image {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  background: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  img {
    vertical-align: middle;
  }
  .timer {
    background: rgba(0, 0, 0, 0.5);
    font-size: 11px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 1px 3px;
    border-radius: 3px;
    img {
      margin: 2px 3px 0px 0px;
      width: 13px;
      height: 13px;
      float: left;
    }
  }
}

.video-video {
  position: relative;
}

.video-like-later {
  li {
    svg {
      fill: white;
    }
    &.active {
      background: $orange;
      svg {
        fill: $dark_grey_blue;
      }
    }
    margin-bottom:10px;
    background: rgba(40,
    56,
    69,
    0.7);
    border-radius:5px;
    padding:11px;
  }
  position:absolute;
  top:10px;
  right:10px;
  z-index:900;
  .video-like-block,
  .video-watch-later-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.vjs-big-play-centered .vjs-big-play-button {
  width: 45px;
  height: 45px;
  border-radius: 4px;
  background-color: $mid_grey_blue;
  border-color: $mid_grey_blue;
}

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus {
  background-color: $mid_grey_blue;
  border-color: $mid_grey_blue;
}
.videos-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.video-item {
  display: block;
  width: 100%;
  padding: 0 15px;
  @media screen and (min-width: 575px) {
    width: 50%;
  }
  @media screen and (min-width: 998px){
    width: 25%;
  }
}
.video-wrapper {
  color: #FFF;
  overflow: auto;
  a {
    color: #FFF;
    font-size: 15px;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
      color: #FFF;
    }
  }
  .video-title {
    h4 {
      margin: 8px 0px 4px 0px;
      a {
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
      }
    }
  }
  .video-author {
    img {
      border-radius: 50%;
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }
    a {
      color: #BFCDD9;
      font-size: 11px;
      font-weight: normal;
    }
  }
  margin-bottom:38px;
}

.video-nav {
  .video-title {
    h4 {
      margin: 8px 0px 4px 0px;
      a {
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
      }
    }
  }
  .video-author {
    img {
      border-radius: 50%;
      width: 38px;
      height: 38px;
      margin-right: 5px;
    }
    a {
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #bfcdd9;
    }
  }
  .star-rating {
    margin-top: -40px;
  }
}

select:focus {
  outline: none;
}

.bottom-nav {
  width: 100%;
  padding: 20px;
  align-self: flex-end;
  a {
    color: white;
    margin: 0px 20px;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      color: $orange;
    }
  }
  .accounts-wrap {
    a {
      color: #7E878F;
      &:hover,
      &:focus,
      &:active {
        color: $orange;
      }
    }
    margin: 25px 0 0 0;
  }
}

.auth-menu {
  .accounts-wrap {
    a {
      color: white;
    }
  }
}

.pagination {
  &>li,
  &>li.disabled {
    &>a,
    &>span {
      color: #FFF;
      background-color: $dark_grey_blue;
      border: none;
    }
    &>a:hover,
    &>a:focus,
    &>span:hover,
    &>span:focus {
      background: $mid_grey_blue;
      color: $orange;
      border: none;
    }
  }
  &>li.active {
    span,
    span:hover,
    span:active {
      background: $mid_grey_blue;
      color: $orange;
      border: none;
    }
  }
}

.v-select {
  .vs__actions {
    position: absolute;
    right: 0;
  }
  button.clear {
    display: none;
  }
  input[type="search"].form-control,
  input[type="search"].form-control:focus {
    border-radius: 4px;
    width: 100% !important;
    border: solid 1px #7e878f;
    height: 38px;
    line-height: 1.2;
    padding: 8px 20px 8px 12px;
    font-size: 16px;
    text-align: left;
    color: #bfcdd9;
    cursor: pointer;
  }
  input[type="search"].form-control {
    &::placeholder {
      color: #bfcdd9;
      font-size: 16px;
      line-height: 1.2;
    }
  }
  input[type="search"].form-control:focus {
    border-color: $orange;
  }
  .open-indicator {
    position: absolute;
    right: 8px;
    top: 10px;
    bottom: initial;
    width: 20px;
    height: 20px;
    margin: 0;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjYmZjZGQ5Ij48cGF0aCBkPSJNNy40MSA3Ljg0TDEyIDEyLjQybDQuNTktNC41OEwxOCA5LjI1bC02IDYtNi02eiIvPjwvc3ZnPg==);
    &:before {
      display: none;
    }
  }
  &.open {
    .form-control {
      border-color: $orange;
    }
    .open-indicator {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjYmZjZGQ5Ij48cGF0aCBkPSJNNy40MSAxNS40MUwxMiAxMC44M2w0LjU5IDQuNThMMTggMTRsLTYtNi02IDZ6Ii8+PC9zdmc+);
    }
  }
  ul.dropdown-menu {
    top: calc(100% + 4px);
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    background-color: $light_grey_blue !important;
    overflow: auto;
    li {
      a {
        color: #bfcdd9 !important;
        padding: 2px 12px;
        font-size: 16px;
      }
      &.highlight {
        a {
          background-color: $mid_grey_blue !important;
        }
      }
    }
  }
  &.single {
    .selected-tag {
      width: 100%;
      height: 38px;
      position: absolute;
      color: #bfcdd9;
      left: 0;
      top: 0;
      padding: 8px 20px 8px 12px;
      line-height: 1.2;
      text-align: left;
    }
  }
}

.filter-videos {
  padding: 0px 15px;
  margin-bottom: 20px;
  clear: both;
  color: #BFCDD9;
  span {
    color: $orange;
  }
  .main-filters {
    display: flex;
    justify-content: space-between;
    .v-select {
      margin-left: 8px;
    }
  }
  .filter-count-videos {
    margin-left: 100px;
    padding: 8px 10px;
    height: 38px;
    font-size: 16px;
    &:focus {
      outline: none;
    }
    .count {
      font-weight: bold;
    }
  }
}

.video-placeholder {
  margin-top: -32px;
  background: #000;
}

.avatar-medium {
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.video-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  float: left;
  .author-name {
    display: inline-block;
    margin-left: 12px;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #bfcdd9;
  }
}

.video-info-divider {
  height: 1px;
  background-color: rgba(191, 205, 217, 0.3);
  border: none;
  width: 100%;
  float: left;
}

.video-info {
  .col-md-3 {
    h5 {
      font-weight: 600;
      color: #BFCDD9;
    }
  }
  a {
    color: #BFCDD9;
  }
  .video-title {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #bfcdd9;
  }
}

.static-header {
  margin: 0px;
}

.dropzone {
  background: transparent !important;
  border-radius: 30px;
  padding: 50px;
  border: 5px dashed $mid_grey_blue;
}

label {
  font-weight: normal;
}

.input-autosuggest {
  background: $light_grey_blue;
  border: 1px solid $mid_grey_blue;
  color: #FFF;
  li {
    a {
      display: block;
      color: #FFF;
      text-decoration: none;
      padding: 5px 10px;
      &:hover,
      &:active,
      &:focus {
        background: $dark_grey_blue;
      }
    }
  }
}

.photo_preview {
  margin-top: 25px;
}

.upload-form {
  .photo-upload {
    background: $light_grey_blue;
    border: 1px solid #7E878F;
    border-radius: 4px;
    text-align: right;
    .btn-photo-upload {
      font-size: 13px;
      border-radius: 0px 4px 4px 0px;
      background: #BFCDD9;
      color: $light_grey_blue;
    }
  }
  .v-transmit__upload-area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .video-upload-icon {
    margin-bottom: 38px;
  }
  .btn-warning {
    padding: 8px 12px;
    text-transform: none;
    width: auto;
    display: inline-block;
    margin-top: 1px;
    margin-bottom: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
  }
  .next-step {
    width: 100%;
    height: 40px;
  }
  .upload-drag-suggestion {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: center;
    color: #7e878f;
  }
  .v-select:not(.single) {
    .dropdown-toggle {
      border: none;
    }
    .open-indicator {
      top: initial;
      transition: none;
    }
    &.open {
      .open-indicator {
        bottom: 7px;
      }
    }
    .selected-tag {
      margin: 4px 1px 5px 3px;
      background-color: $orange;
      border: none;
      font-size: 13px;
      font-weight: bold;
      cursor: pointer;
      .close {
        bottom: -3px;
        position: relative;
      }
    }
  }
  &-process {
    margin-left: 50px;
    li {
      &.active {
        background: url("/img/star_active_icon.svg") no-repeat center left;
        a {
          color: $orange;
          font-size: 16px;
        }
      }
      background: url("/img/star_icon.svg") no-repeat center left;
      padding-left: 20px;
      margin-bottom:10px;
      a {
        color: #BFCDD9;
      }
    }
  }
  .upload-status {
    font-size: 36px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #bfcdd9;
    margin-top: 0;
    margin-bottom: 12px;
  }
  h5 {
    padding: 0px 15px;
    &+p {
      padding: 0px 15px;
    }
    font-weight:600;
  }
  input[type=text],
  input[type=file],
  textarea,
  select,
  .vue-input-tag-wrapper {
    background: $light_grey_blue;
    border: 1px solid #7E878F;
    padding: 4px 12px;
    &:hover,
    &:active,
    &:focus {
      border: 1px solid $orange;
      box-shadow: none !important;
    }
    color:#FFFFFF;
    &::placeholder {
      color: #7E878F;
    }
  }
  .vue-input-tag-wrapper {
    border-radius: 4px;
    -moz-appearance: inherit;
    -webkit-appearance: inherit;
    padding-bottom: 0px;
    .input-tag {
      background-color: $orange;
      border-radius: 2px;
      border: 1px solid $orange;
      color: $dark_grey_blue;
      display: inline-block;
      font-size: 13px;
      font-weight: 400;
      margin-bottom: 4px;
      margin-right: 4px;
      padding: 3px;
      .remove {
        color: $dark_grey_blue;
      }
    }
    input {
      border: none;
      padding: 0;
      width: 120px;
      &:hover,
      &:active,
      &:focus {
        border: none;
      }
    }
  }
}

.video-upload-step-5 {
  a {
    margin-top: 96px;
  }
  h2 {
    font-weight: 300;
    font-size: 36px !important;
  }
}

.upload-zone-wrap {
  height: 400px;
  padding: 40px;
  border: 3px dashed #19232e;
  border-radius: 12px;
  margin-top: 25px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-process {
  margin-bottom: 30px;
  .text-center {
    font-weight: 300;
    font-size: 36px !important;
  }
  &-bar {
    width: 100%;
    height: 24px;
    border-radius: 12px;
    background: $dark_grey_blue;
    padding: 0 3px;
    &-inner {
      top: 3px;
      position: relative;
      background: $orange;
      height: 18px;
      border-radius: 12px;
    }
  }
}

.contact-us-form {
  .form-control {
    background-color: $light_grey_blue;
    height: 36px;
    line-height: 1.2;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    box-shadow: none;
    color: #7e878f;
    &:focus {
      border-color: $orange;
    }
  }
}

.help-block {
  font-size: 13px;
  font-weight: 100;
  line-height: 15px;
  strong {
    color: $orange;
  }
}

.loading {
  border-radius: 50%;
  width: $base-line-height;
  height: $base-line-height;
  border: .25rem solid $off-white;
  border-top-color: $white;
  animation: spin $spin-duration infinite linear;
  &--double {
    border-style: double;
    border-width: .5rem;
  }
}

.modal{
  &-content{
    border-radius:13px;
  }
  &-body{
    border-radius:10px;
  }
}

.swal2-modal, .modal-body {
  background-color: $mid_grey_blue !important;
}

.swal2-popup {
  .swal2-title {
    color: $orange !important;
  }
  .swal2-content {
    color: $orange !important;
  }
  .swal2-icon.swal2-success [class^="swal2-success-circular-line"][class$="left"],
  .swal2-icon.swal2-success [class^="swal2-success-circular-line"][class$="right"],
  .swal2-icon.swal2-success .swal2-success-fix {
    background-color: $mid_grey_blue !important;
  }
  button.swal2-styled {
    background-color: $orange !important;
    &:hover,
    &:focus {
      background-color: $light_grey_blue !important;
      border: none !important;
      box-shadow: none !important;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  50% {
    background: $white;
  }
}

// STRIPE ELEMENTS
.StripeElement {
  background-color: white;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.select2-container--default .select2-selection--single {
  background: transparent;
  height: 38px;
  border-radius: 4px;
  border: solid 1px #7e878f;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 1.2;
  text-align: left;
  color: #bfcdd9;
  padding: 8px 25px 8px 12px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px;
  b {
    border: none;
    width: 20px;
    height: 20px;
    margin: 0;
    display: block;
    left: initial;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjYmZjZGQ5Ij48cGF0aCBkPSJNNy40MSA3Ljg0TDEyIDEyLjQybDQuNTktNC41OEwxOCA5LjI1bC02IDYtNi02eiIvPjwvc3ZnPg==);
  }
}

.select2-container--open {
  .select2-selection--single {
    border-color: $orange;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
  }
  .select2-selection--single .select2-selection__arrow b {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjYmZjZGQ5Ij48cGF0aCBkPSJNNy40MSAxNS40MUwxMiAxMC44M2w0LjU5IDQuNThMMTggMTRsLTYtNi02IDZ6Ii8+PC9zdmc+);
  }
}

.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above {
  margin-top: 4px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  background-color: $light_grey_blue;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: $light_grey_blue;
}

.select2-results__option {
  height: 26px;
  padding: 2px 12px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $mid_grey_blue;
}

.select2-container--default .select2-results>.select2-results__options {
  border-radius: 4px;
}

// STAR RATING
.star-rating {
  font-size: 18px;
  display: block;
  float: right;
  .star-rating-stars {
    font-family: "Arial Unicode MS", Arial, sans-serif;
    unicode-bidi: bidi-override;
    color: $star-rating-outline-color;
    .star-rating-star {
      float: left;
      width: 0.88em;
      margin-right: 3px;
      &:before {
        font-family: FontAwesome;
        content: "\f005";
        position: absolute; // color: $star-rating-fill-color;
      }
    }
  }
  &.rated {
    .star-rating-star {
      &:before {
        color: $star-rating-fill-color;
      }
    }
  }
  .star-rating-current-value:before,
  .star-rating-current-value~.star-rating-star:before {
    content: normal;
  }
  &.editable:hover .star-rating-current-value:before,
  &.editable:hover .star-rating-current-value~.star-rating-star:before {
    font-family: FontAwesome;
    content: "\f005";
    position: absolute;
    color: $star-rating-fill-color;
  }
  &.editable:hover {
    .star-rating-star {
      &:before {
        color: $star-rating-fill-color;
      }
      .fa {
        &:before {
          display: inline-block;
          font-size: 17px;
          padding-left: 1px;
        }
      }
    }
  }
  &.editable .star-rating-star:hover,
  &.editable .star-rating-star:hover~.star-rating-star:before {
    content: normal;
    cursor: pointer;
  }
  .star-rating-aside {
    float: left;
    margin-left: 5px;
    color: $star-rating-aside-color;
    font-size: 11px;
    line-height: 24px;
  }
  &.small {
    font-size: 16px;
    line-height: 1;
    .star-rating-aside {
      line-height: 16px;
    }
  }
  &.large {
    font-size: 20px;
    .star-rating-aside {
      line-height: 26px;
    }
  }
}

.subtitle-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .file-upload {
    margin-top: 15px;
    display: flex;
    .input-wrapper {
      text-align: center;
      position: relative;
      background-color: $orange;
      border-radius: 4px;
      height: 38px;
      display: block;
      width: 100%;
      &:hover {
        background-color: $mid_grey_blue;
      }
      #file-upload-input {
        width: 100%;
        height: 100%;
      }
      .file-upload-label {
        font-size: 16px;
        line-height: 1.2;
        height: 100%;
        margin-bottom: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &>div {
          line-height: 38px;
        }
        .file-upload-icon {
          font-size: 26px;
          height: 36px;
          margin-right: 15px; // position: absolute;
          // left: 10px;
          // top: 0px;
        }
      }
    }
  }
}

.uploaded-files {
  margin-top: 15px;
  display: flex;
  width: 100%;
  flex-direction: column;
  .uploaded-files-head {
    display: block;
    width: 100%;
  }
  .uploaded-files-list {
    padding: 0;
    margin: 10px 0;
    flex-direction: row;
  }
  .uploaded-file-label {
    list-style: none;
    display: inline-block;
    margin: 5px 5px 5px 0;
    border-radius: 2px !important;
    border: none;
    background-color: $orange;
    font-size: 11px !important;
    color: $dark_grey_blue;
    font-weight: bold;
    padding: 0 5px;
    cursor: default;
  }
}

.dz-preview {
  display: none;
}

.feedback{
  overflow: hidden;
  form{
    transition: all 0.5s ease;
    padding:10px;
  }
  .slide-leave-to{
    height:auto;
  }
  p{
    margin:0;
    padding:0;
  }
  a, label{
    color:$dark_grey_blue;
    font-weight:600;
    &:hover, &:active, &:focus{
      color:$dark_grey_blue;
    }
    i{
      top:-2px;
      margin-right:7px;
    }
  }
  @media all and (max-width:$screen-sm) {
    width:100%;
    position:absolute;
    left:0;
    right:0;
    bottom:58px;
    border-radius:0;
    form{
      padding:0px;
    }
    a{
      span{
        display:none;
      }
    }
  }
  transition: all 0.5s ease;
  position:fixed;
  z-index: 10000000;
  bottom:30px;
  right:30px;
  background: $orange;
  border-radius: 10px;
  padding:5px;
}

// IE11 styles
@media all and (-ms-high-contrast:none) {
  *::-ms-backdrop,
  .navbar-inverse .navbar-nav li .dropdown-menu {
    margin-left: -220px;
  }
  *::-ms-backdrop,
  .nav-search .search-form input[type=search] {
    line-height: 1;
  }
}