@media (max-width: 1023px){
    .choose-term .nav {
        & > li {
            width: 100%;
            a {
                width: 100%;
            }
        }
        & > li.active {
            a {
                width: 100%;
            }
        }
        & > li + li {
            margin-left: 0;
        }
    }
    .tarif-box-wrap {
        margin-bottom: 45px;
    }
    .nav-search {
        .search-form {
            width: 400px;
        }
    }
    .filter-videos .main-filters .v-select {
        margin-left: 0;
        width: 49%;
    }
    .v-select {
        .dropdown-menu {
            li {
                a {
                    height: 38px;
                    line-height: 1.2;
                    padding: 9px 12px !important;
                }
            }
        }
    }
}

@media (max-width: 1260px) {
    .auth-form-tabs {
        li {
            a {
                padding: 10px 4px;
            }
        }
    }
    .content-full {
        // .container {
        //     width: calc(100% - 60px);
        // }
    }
    
}
@media (max-width: 992px){
    .v-center-translate {
        flex-direction: column;
        height: 100%;
        transform: none;
        position: relative;
        .login-logo-wrap {
            position: absolute;
            left: 0;
            right: 0;
            top: 40px;
            width: 100%;
            margin: 0;
            .login-logo-link {
                
                display: block;
            }
            .login-logo {
                display: block;
                margin: 0 auto;
            }
        }
    }
    .filter-videos {
        .timer-filter {
            width: 100%;
            text-align: center;
        }
        .filter-count-videos {
            margin: 0 0 20px 0;
            width: 100%;
            text-align: center;
        }
        .filter {
            width: 100%;
            text-align: center;
        }
    }
    .btn-facebook {
        margin-bottom: 10px;
    }
    .nav-main {
        .dropdown-menu {
            left: initial;
            right: 0;
            position: absolute;
            top: 60px;
            z-index: 1000;
            min-width: 160px;
            text-align: left;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        }
    }
    .select2-container {
        width: 100%;
        margin-bottom: 25px;
    }
    .select2-results__option {
        height: 38px !important;
        padding: 7px 12px;
    }
    .bottom-nav a {
        margin: 0px 7px;
    }
}
@media (max-width: 767px){
    .follow-list{
        text-align:center;
        .follow-info{
            padding-top:10px;
        }
        ul{
            li{
                margin-left:20px;
                margin-right:20px !important;
            }
        }
        .unsubscribe-button{
            margin-top:10px;
            margin-bottom:30px;
        }
    }
    .video-nav .star-rating {
        margin: 0;
        float: none;
    }
    .v-center-translate {
        justify-content: space-between;
    }
    .video-placeholder {
        margin-top: 0;
    }
    .star-rating {
        width: 100%;
        margin-top: 10px;
        overflow: auto;
        .star-rating-stars {
            display: flex;
            justify-content: center;
            .star-rating-star {
                margin-right: 15px;
            }
        }
    }
    .rate-cta {
        display: block;
        text-align: center;

    }
    #film_bg {
        overflow: auto;
    }
    .login-logo {
        max-height: 100px;
    }
    .filter-page-title {
        font-size: 24px;
    }
    .content-full {
        padding-top: 131px;
        .container {
            width: 100%;
        }
    }
    .login-form-wrap {
        margin-top: 175px;
    }
    .video-upload-step-5 h2 {
        font-size: 26px !important;
    }
    .nav-main {
        .dropdown-menu {
            left: initial !important;
            right: 0 !important;
            position: absolute !important;
            top: 66px !important;
            z-index: 1000 !important;
            text-align: left !important;
            border-radius: 6px;
            
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
            .user-info {
                background-color: #283845;
            }
        }
    }
    .nav-search {
        position: fixed;
        top: 51px;
        left: 0;
        padding: 5px 15px;
        width: 100%;
        height: 60px;
        margin-left: 0 !important;
        margin-right: 0 !important;
        background-color: #1F2B38;
        overflow: visible;
        .search-form {
            margin: 0px auto;
            border: none;
            box-shadow: none;
            width: 100%;
            .search-wrap {
                margin-left: 0;
                height: 35px;
            }
        }
        
    }
    .navbar-brand.logo {
        padding-left: 0;
    }
    .content-full {
        margin-left: 0;
        width: 100%;
        padding-bottom: 52px;
    }
    .subscribers-sidebar {
        top: initial;
        bottom: 0;
        width: 100%;
        height: 58px;
        z-index: 100;
        padding: 0;
        .user-actions {
            display: flex;
            justify-content: space-around;
            a {
                width: 100%;
            }
        }
    }
    .upload-form {
        .next-step {
            margin-top: 20px;
        }
    }
    .timer-filter {
        .v-select {
            margin: 0 auto;
        }
    }
    .filter-videos {
        padding: 0 15px;
        .main-filters {
            flex-direction: column;
            .v-select {
                width: 100%;
                .form-control {
                    width: 100% !important;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .auth-menu {
        margin-top: 170px;
        position: relative;
    }
    .bottom-nav {
        margin-left: 0;
        margin-bottom: 12px;
        ul {
            li {
                display: block;
                width: 100%;
                margin: 10px 0;
                a {
                    height: 35px;
                }
            }
        }
    }
    
}

