<template>
    <span>
    <ul class="nav navbar-nav auth-navbar">
        <!--<li class="header-message-container" style="width:300px"><p class="header-message">FREE BETA VERSION AVAILABLE NOW</p></li>-->
        <li><button @click.prevent="setAction('login')" data-toggle="modal" data-target="#authScreen" class="btn btn-sm btn-warning">Login</button></li>
        <li><button @click.prevent="setAction('registration')" data-toggle="modal" data-target="#authScreen" class="btn btn-sm btn-warning">Register</button></li>
    </ul>
    <div class="modal fade" id="authScreen" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document" id="auth-menu">
        <div class="modal-content">
          <div class="modal-body">
            <login v-if="action == 'login'"></login>
            <registration v-if="action == 'registration'"></registration>
          </div>
        </div>
      </div>
    </div>
    </span>
</template>

<script>
    import EventBus from '../../app'
    export default{
        data(){
            return {
                action:""
            }
        },
        methods:{
            setAction(action){
                this.action = action
            }
        },
        mounted(){
            if(window.innerWidth > 700) {
                $('#auth-menu').css('width', parseInt(window.innerWidth / 2))
            }
        }
    }
</script>

<style scoped lang="scss">
    .header-message{
        color:#F29559;
        margin-top:7px;
        font-weight: 600;
        font-size: 11px;
        @media screen and (max-width:575px){
            display: none;
        }
    }
    .header-message-container{
        @media screen and (max-width:575px){
            display: none;
        }
    }
</style>