<template>
    <img :src="this.image" :width="this.width" :height="this.height" :class="this.userclass" />
</template>

<script>
    import EventBus from '../../app'

    export default{
        props:['src','width','height','userclass'],
        data(){
            return {
                image:""
            }
        },
        mounted(){
            this.image = this.src
            EventBus.$on('avatar-changed', (response)=>{
                this.image = response
            })
        }
    }
</script>