<template>
    <div>
        <div class="user-billing">
            <h2>Billing methods</h2>
            <div class="box">
                <h4>Current billing method</h4>
                <p>
                    <img class="pull-left" :src="card_logo" height="24px" />
                    <span>**** **** **** {{ user.card_last_four }}</span>
                </p>
                <div class="clearfix"></div>
                <a href="#" @click.prevent="changeCard">Edit current billing method</a>
            </div>
        </div>
        <transition name="slide">
        <div class="user-billing" style="margin-top:40px;" v-show="showChangeCardBlock">
            <h2>Edit billing method</h2>
            <div class="box">
                <form action="#" method="post" id="payment-form">
                    <input type="hidden" name="_token" :value="this.csrf" />
                    <div id="card-element">
                        <!-- a Stripe Element will be inserted here. -->
                    </div>

                    <!-- Used to display Element errors -->
                    <div id="card-errors" role="alert"></div>
                    <br>
                    <div class="text-center">
                        <button class="btn btn-warning" @click.prevent="makeToken()">Update card details</button>
                    </div>
                </form>
            </div>
        </div>
        </transition>
    </div>
</template>

<script>
    import swal from 'sweetalert2'
    export default{
        props:['user','csrf'],
        data(){
            return {
                card_logo:"",
                elements:{},
                card:{},
                style:{},
                token:"",
                form:{
                    stripeToken:""
                },
                showChangeCardBlock: false,
                stripe: Stripe('pk_live_Gur8ViPI59C2yzhPYM00Fc5A')
            }
        },
        methods:{
            changeCard(){
                this.showChangeCardBlock = !this.showChangeCardBlock;
            },
            makeToken: function(){
                this.stripe.createToken(this.card).then(function(result) {
                    if (result.error) {
                        var errorElement = document.getElementById('card-errors');
                        errorElement.textContent = result.error.message;
                    } else {
                        this.stripeTokenHandler(result.token);
                    }
                }.bind(this));
            },
            stripeTokenHandler: function(token){
                var form = document.getElementById('payment-form');
                var hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', 'stripeToken');
                hiddenInput.setAttribute('value', token.id);
                this.form.stripeToken = token.id
                console.log(token.id)
                form.appendChild(hiddenInput);
                axios.post('/subscription/changecard', {'stripeToken': this.form.stripeToken}).then((response)=>{
                    if(response.status == 200){
                        swal('Success','Card details changed','success').then(()=>{
                            this.changeCard()
                        });
                    }
                }).catch((error)=>{
                    console.log(error.response.data)
                })
                // form.submit();
            }
        },
        mounted(){
            switch(this.user.card_brand){
                case "Visa":
                    this.card_logo = '/img/visa_logo.png'
                    break;
                case "MasterCard":
                    this.card_logo = '/img/mastercard_logo.png'
                    break;
                case "American Express":
                    this.card_logo = '/img/amex_logo.png'
                    break;
                default:
                    this.card_logo = '/img/genericcard_logo.png'
                    break;
            }
            this.elements = this.stripe.elements();
            this.card = this.elements.create('card', {hidePostalCode: true});
            // this.cardNumber = this.elements.create('cardNumber');
            // this.expiry = this.elements.create('cardExpiry');
            // this.cvc = this.elements.create('cardCvc');
            this.card.mount('#card-element');
        }
    }
</script>