<template>
    <div class="user-billing">
        <h2>Channel</h2>
        <div class="user-videos">
            <div class="user-videos-list">
                <div class="row user-video" v-for="(video,key) in videos.data" :key="key">
                        <div class="col-md-3 video-thumb">
                            <div class="video-wrapper">
                                <a :href="'/video/' + video.id">
                                    <div class="video-image"  :style="'background-image: url( '+ getThumb(key) +' ) '">
                                        <div class="timer">
                                            <img src="/img/timer_icon.svg" /> {{ video.videoDuration.split('.')[0] }}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9 video-descr">
                            <div class="video-title">
                                <h4>
                                    <a :href="'/video/' + video.id">{{ video.title }}</a>
                                    <button class="btn btn-warning pull-right" @click="removeVideo(video.id)">Remove</button>&nbsp;
                                    <button style="margin-right:5px;" class="btn btn-warning pull-right" @click="editVideo(video.id)">Edit film</button>
                                </h4>
                            </div>
                        </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <nav aria-label="Page navigation" class="text-center center-block" v-if="this.videos.last_page != 1">
            <ul class="pagination">
                <li>
                <a href="#" aria-label="Previous" @click.prevent="setPaginationPage(currentPaginationPage - 1 >= 1 ? currentPaginationPage - 1 : 1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                <li v-for="number in videos.last_page" :key="number" :class="{ active: number === currentPaginationPage}">
                    <a href="#" @click.prevent="setPaginationPage(number)">{{ number }}</a>
                </li>
                <li>
                <a href="#" aria-label="Next" @click.prevent="setPaginationPage(currentPaginationPage + 1 <= videos.last_page ? currentPaginationPage + 1 : videos.last_page)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            </ul>
            </nav>
        </div>
    </div>
</template>
<script>
    import EventBus from '../../app'
    export default{
        props:['user', 'csrf'],
        data(){
            return {
                videos: [],
                thumbs:[],
                currentPaginationPage: 1
            }
        },
        methods:{
            getThumb(id){
                if(!this.videos.data[id].main_thumb_url){
                    return this.thumbs[this.videos.data[id].id]
                }else{
                    return this.videos.data[id].main_thumb_url
                }

            },
            getVideos(pageID){
                const url = pageID ? '/user/channel?page=' + pageID : '/user/channel'
                axios.get(url).then((response)=>{
                    if (response.data){
                        this.videos = response.data.videos
                        this.thumbs = response.data.thumbs
                        this.currentPaginationPage = this.videos.current_page
                    }
                    
                }).catch((error)=>{
                    console.log(error.response.data)
                })
            },
            removeVideo(id){
                let warnUser = confirm("Are you sure that you want to delete this video?");
                if (warnUser){
                    return axios.delete('/video/' + id).then((response) => {
                        this.videos.data = this.videos.data.filter((video) => {
                            return video.id !== id
                        })
                    })
                }
            },
            editVideo(id){
                EventBus.$emit('setting', {action:'editVideo',video: id})
            },
            setPaginationPage(number){
                return this.getVideos(number)
            }
            
        },
        mounted(){
            this.getVideos()
            EventBus.$on('videoEdited', (newVideo) => {
                let videoIndex
                this.videos.data.forEach((video, index) => {
                    if (video.id === newVideo.id) {
                        videoIndex = index
                    }
                })
                this.videos.data[videoIndex] = newVideo
            })
        }
    }
</script>