<template>
    <div class="user-security" v-if="this.user.id == this.video.user_id">
        <h2>Edit video</h2>
    <div class="upload-form">

        <div class="box">
            <form method="post" action="#" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" for="title">Title</label>
                            <input v-model="form.title" type="text" name="title" class="form-control" id="title" />
                            <span v-if="errors.title" class="help-block">
                                    <strong v-text="errors.title[0]"></strong>
                                </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="original_title">Original title</label>
                            <input v-model="form.original_title" type="text" name="original_title" class="form-control" id="original_title" />
                            <span v-if="errors.original_title" class="help-block">
                                    <strong v-text="errors.original_title[0]"></strong>
                                </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="country">Country</label>
                            <v-select
                                    :value="this.selectedCountry"
                                    name="country"
                                    id="country"
                                    placeholder="Select country"
                                    :options="countries"
                                    :on-change="selectCountry">
                            </v-select>
                            <span v-if="errors.country" class="help-block">
                                    <strong v-text="errors.country[0]"></strong>
                                </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="language">Language</label>
                            <v-select
                                    :value="this.selectedLanguage"
                                    name="language"
                                    id="language"
                                    placeholder="Select language"
                                    :options="languages"
                                    :on-change="selectLanguage">
                            </v-select>
                            <span v-if="errors.language" class="help-block">
                                    <strong v-text="errors.language[0]"></strong>
                                </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="producer">Producer</label>
                            <input v-model="form.producer" type="text" name="producer" class="form-control" id="producer" />
                            <span v-if="errors.producer" class="help-block">
                                    <strong v-text="errors.producer[0]"></strong>
                                </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="director">Director</label>
                            <input v-model="form.director" type="text" name="director" class="form-control" id="director" />
                            <span v-if="errors.director" class="help-block">
                                    <strong v-text="errors.director[0]"></strong>
                                </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="actors">Actors</label>
                            <input v-model="form.actors" type="text" name="actors" class="form-control" id="actors" value="" />
                            <span v-if="errors.actors" class="help-block">
                                    <strong v-text="errors.actors[0]"></strong>
                                </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="awards">Awards</label>
                            <input v-model="form.awards" type="text" name="awards" class="form-control" id="awards" value="" />
                            <span v-if="errors.awards" class="help-block">
                                    <strong v-text="errors.awards[0]"></strong>
                                </span>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="soundtrack">Soundtrack</label>
                            <input v-model="form.soundtrack" type="text" name="soundtrack" class="form-control" id="soundtrack" value="" />
                            <span v-if="errors.soundtrack" class="help-block">
                                    <strong v-text="errors.soundtrack[0]"></strong>
                                </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="production_year">Production year</label>
                            <input v-model.number="form.production_year" type="text" name="production_year" class="form-control" id="production_year" maxlength="4"/>
                            <span v-if="errors.production_year" class="help-block">
                                    <strong v-text="errors.production_year[0]"></strong>
                                </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="release_year">Release year</label>
                            <input v-model.number="form.release_year" type="text" name="release_year" class="form-control" id="release_year" maxlength="4"/>
                            <span v-if="errors.release_year" class="help-block">
                                    <strong v-text="errors.release_year[0]"></strong>
                                </span>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8">
                                    <label class="control-label" for="photo">Photo</label>
                                    <div class="photo-upload">
                                        <div class="btn btn-photo-upload" @click="choosePhoto">Choose</div>
                                    </div>
                                    <span class="small">Maximum image size is 2Mb</span>
                                    <input type="file" name="photo" class="form-control hidden" id="photo" @change="photoChosen" />
                                </div>
                                <div class="col-md-4">
                                    <div class="photo_preview" v-if="form.photo">
                                        <img :src="'/uploads/videos/'+form.photo" class="img-responsive" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="method_of">Style</label>
                            <v-select
                                    :value="this.selectedStyle"
                                    name="method_of"
                                    id="method_of"
                                    :on-change="selectMethod"
                                    :options="this.methods"
                            ></v-select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Genres</label>
                            <v-select
                                    :on-change="genreCallback"
                                    multiple
                                    v-model="formtext.genres"
                                    :options="this.genres"
                            ></v-select>
                            <span v-if="errors.genres" class="help-block">
                                    <strong v-text="errors.genres[0]"></strong>
                                </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Countries To Restrict Showing</label>
                            <v-select
                                    :on-change="selectRestrictedCountry"
                                    multiple
                                    v-model="formtext.restrictions"
                                    :options="this.countries"
                            ></v-select>
                            <span v-if="errors.ctrs" class="help-block">
                                    <strong v-text="errors.ctrs[0]"></strong>
                                </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="storyline">Storyline</label>
                            <tinymce :init="tinymce_config" name="storyline" v-model="form.storyline" class="form-control editable-area" id="storyline"></tinymce>
                            <!--<span class="help-block">-->
                            <!--<strong>Error text here</strong>-->
                            <!--</span>-->
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="script">Script</label>
                            <tinymce :init="tinymce_config" name="script" v-model="form.script" class="form-control editable-area" id="script"></tinymce>
                            <!--<span class="help-block">-->
                            <!--<strong>Error text here</strong>-->
                            <!--</span>-->
                        </div>
                        <div class="form-group" v-if="subtitleUploadURL">
                            <label for="subtitles" class="control-label">Upload subtitles in .vtt format</label>
                            <subtitle-upload
                                    id="subtitles"
                                    :languages="languages"
                                    :url="subtitleUploadURL"
                                    @subtitle-loaded="onSubtitleLoaded"
                            >
                            </subtitle-upload>
                            <div class="uploaded-files">
                                <ul class="uploaded-files-list">
                                    <li v-for="(subtitle,key) in this.subtitles" class="uploaded-file-label">
                                        {{ subtitle.language.name }} subtitles <a href="#" style="color:#000" @click.prevent="removeSubtitles(subtitle.id, key)">x</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Keywords</label>
                            <taggable
                                    :tags_src="this.formtext.keywords"
                                    :url="'/autosuggestKeywords'"
                                    :placeholder="'Add Keywords'"
                                    :field="'keywords'"
                                    :processUrl="'/checkKeyword'"
                                    :reservedOnly=false
                            ></taggable>
                            <!--<input type="text" name="keywords" v-model="form.keywords" class="form-control" id="keywords" value="" />-->
                            <!--<span class="help-block">-->
                            <!--<strong>Error text here</strong>-->
                            <!--</span>-->
                        </div>

                        <div class="form-group">
                            <label class="control-label">Tags</label>
                            <taggable
                                    :tags_src="this.formtext.tags"
                                    :url="'/autosuggestTags'"
                                    :placeholder="'Add tags'"
                                    :field="'tags'"
                                    :processUrl="'/checkTag'"
                                    :reservedOnly=false
                            ></taggable>
                            <!--<input type="text" name="tags" v-model="form.tags" class="form-control" id="tags" value="" />-->
                            <!--<span class="help-block">-->
                            <!--<strong>Error text here</strong>-->
                            <!--</span>-->
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="didyouknow">Did you know?</label>
                            <tinymce  :init="tinymce_config" name="didyouknow" v-model="form.didyouknow" class="form-control editable-area" id="didyouknow"></tinymce>
                            <!--<textarea name="didyouknow" v-model="form.didyouknow" class="form-control editable-area" id="didyouknow"></textarea>-->
                            <!--<span class="help-block">-->
                            <!--<strong>Error text here</strong>-->
                            <!--</span>-->
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <a href="#" class="btn btn-warning btn-block next-step" @click.prevent="update">Save</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</template>

<script>
    import swal from 'sweetalert2'
    import EventBus from '../../app'
    export default {
        props:['user','video'],
        data(){
            return {
                tinymce_config: {
                    height: 200,
                    menubar: false,
                    skin_url:"/css/custom",
                    plugins: [
                        'advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table contextmenu paste code'
                    ],
                    toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',

                },
                subtitleUploadURL: '/subtitles',
                form:{
                    title:"",
                    original_title:"",
                    country:"",
                    language:"",
                    producer:"",
                    director:"",
                    actors:"",
                    awards:"",
                    soundtrack:"",
                    production_year:"",
                    release_year:"",
                    photo:"",
                    genres:[],
                    storyline:"",
                    script:"",
                    method_of:"",
                    keywords:[],
                    didyouknow:"",
                    tags:[],
                    restrictedCountries: [],
                    subtitleIds: []
                },
                formtext:{
                    genres:[],
                    keywords:[],
                    tags:[],
                    restrictions:[]
                },
                errors:{},
                languages:[],
                countries:[],
                methods:[],
                genres:[],
                genresObj:{},
                selectedCountry:{},
                selectedLanguage:{},
                selectedStyle:"",
                subtitles:{}
            }
        },
        methods:{
            update(){
                axios.put('/video/'+this.video, this.form).then((response)=>{
                    EventBus.$emit('videoEdited', Object.assign({}, this.form))
                    if(response.data == 1){

                        swal('Success','Film updated','success').then(()=>{
                            EventBus.$emit('setting',{action:"channel"})

                        })
                    }
                }).catch((error)=>{
                    this.errors = error.response.data.errors
                    swal('Error','Check the form and try again please','error')
                })
            },
            choosePhoto: function(){
                document.getElementById('photo').click()
            },
            photoChosen: function(){
                var photo = document.getElementById('photo');
                var file = photo.files[0];
                let formData = new FormData();
                formData.append('image', file);
                axios.post('/video/uploadCover', formData).then(function(response){
                    this.form.photo = response.data;

                }.bind(this))
            },
            selectCountry(newCountry){
                if (newCountry && newCountry.value){
                    this.form.country = newCountry.value
                }
            },
            selectLanguage(newLanguage){
                if (newLanguage && newLanguage.value != null){
                    this.form.language = newLanguage.value
                }
            },
            selectMethod(newMethod){
                if (newMethod && newMethod.value != null){
                    this.form.method_of = newMethod.value
                }
            },
            selectRestrictedCountry(countries) {
                console.log(countries)
                if (countries.length){
                    this.form.restrictedCountries = countries.map(country => country.value);
                }
            },
            getCategories: function(){
                axios.get('/fetchCategories').then(function(response){
                    this.genresObj = response.data
                    this.genres = $.map(response.data, function(value, index) {
                        return [value];
                    });
                    this.genreCallback(this.formtext.genres)
                }.bind(this))
            },
            getLanguages: function(){
                axios.get('/fetchLanguages').then((response) => {
                    let languagesData = response.data
                    this.languages = Object.keys(languagesData).map((key) => {
                        return {
                            value: key,
                            label: languagesData[key]
                        }
                    })
                }).catch(function(error){
                    console.log(error.response.data)
                })
            },
            findObjectByKey(array, key, value) {
                for (var i = 0; i < array.length; i++) {
                    if (array[i][key] === value) {
                        return array[i];
                    }
                }
                return null;
            },
            getCountries(){
                axios.get('/fetchCountries').then((response) => {
                    let countriesData = response.data
                    this.countries = Object.keys(countriesData).map((key) => {
                        return  {
                            value: key,
                            label: countriesData[key]
                        }
                    })
                }).catch(function(error){
                    console.log(error.response.data)
                })
            },
            getMethods: function(){
                axios.get('/fetchMethods').then(function(response){
                    let methodsData = response.data
                    this.methods = Object.keys(methodsData).map((key) => {
                        return {
                            value: key,
                            label: methodsData[key]
                        }
                    })
                    if(this.methods.length > 0) {
                        this.selectedStyle = this.findObjectByKey(this.methods, 'value', this.form.method_of.toString())
                    }
                }.bind(this)).catch(function(error){
                    console.log(error.response.data)
                })
            },
            makeMeTiny(){
                tinymce.init({
                    selector: '.editable-area',
                    height: 200,
                    menubar: false,
                    skin_url:"/css/custom",
                    plugins: [
                        'advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table contextmenu paste code'
                    ],
                    toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                    content_css: [
                        '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                        '//www.tinymce.com/css/codepen.min.css'],
                    paste_as_text: true,
                    paste_auto_cleanup_on_paste : true,
                    paste_remove_styles: true,
                    paste_remove_styles_if_webkit: true,
                    paste_strip_class_attributes: true,
                    paste_text_sticky: true,
                    valid_elements:"b, strong, i, underline, p, div, u"
                });
            },
            getVideo(){
                axios.get('/video/'+this.video+'/edit').then((response)=>{
                    this.form.title = response.data.video.title
                    this.form.original_title = response.data.video.original_title
                    this.form.country = response.data.video.country
                    this.form.language = response.data.video.language
                    this.form.producer = response.data.video.producer
                    this.form.director = response.data.video.director
                    this.form.actors = response.data.video.actors
                    this.form.awards = response.data.video.awards
                    this.form.soundtrack = response.data.video.soundtrack
                    this.form.production_year = response.data.video.production_year
                    this.form.release_year = response.data.video.release_year
                    this.form.photo = response.data.video.photo
                    // this.form.genres = response.data.title,
                    this.form.storyline = response.data.video.storyline
                    this.form.script = response.data.video.script
                    this.form.method_of = response.data.video.method_of
                    this.form.didyouknow = response.data.video.didyouknow
                    if(response.data.video.cats.length > 0) {
                        response.data.video.cats.forEach((cat) => {
                            this.formtext.genres.push(cat.name)
                        })
                    }
                    if(response.data.video.keywords.length > 0) {
                        response.data.video.keywords.forEach((kw) => {
                            this.formtext.keywords.push(kw.name)
                        })
                    }
                    if(response.data.video.tags.length > 0) {
                        response.data.video.tags.forEach((tag) => {
                            this.formtext.tags.push(tag.name)
                        })
                    }
                    if(this.countries.length > 0) {
                        this.selectedCountry = this.findObjectByKey(this.countries, 'value', this.form.country)
                    }
                    if(this.languages.length > 0) {
                        this.selectedLanguage = this.findObjectByKey(this.languages, 'value', this.form.language)
                    }

                    if(response.data.restrictions.length){

                        response.data.restrictions.forEach((country)=>{
                            this.formtext.restrictions.push({"value":country.country.id.toString(),"label":country.country.name})
                        })
                    }
                })
                    .then(() => {
                        this.makeMeTiny()
                    })
                    .catch((errors)=>{
                    console.log(errors)
                })
            },
            genreCallback(val) {
                if(val.length > 0) {
                    let genresObj = this.genresObj
                    this.form.genres = val.map((genre)=> {
                        let index;
                        Object.keys(genresObj).forEach((key) => {
                            if (genresObj[key] === genre){
                                index = key
                            }
                        });
                        return index;
                    })
                }
            },
            onSubtitleLoaded(request){
                if (request.target &&  request.target.response){
                    this.form.subtitleIds.push(request.target.response)
                }
            },
            getVideoSubtitles(){
                axios.get('/video/fetchSubtitles/'+this.video).then((response)=>{
                    this.subtitles = response.data
                }).catch((errors)=>{
                    console.log(errors)
                })
            },
            removeSubtitles(id, key){
                axios.delete('/subtitles/'+id).then((response)=>{
                    if(response.data == "1"){
                        this.subtitles.splice(key, 1)
                    }
                }).catch((error)=>{
                    console.log(error)
                })
            }
        },
        watch:{
            methods(){
                this.selectedStyle = this.findObjectByKey(this.methods, 'value', this.form.method_of.toString())
            },
            languages(){
                this.selectedLanguage = this.findObjectByKey(this.languages, 'value', this.form.language)
            },
            countries(){
                this.selectedCountry = this.findObjectByKey(this.countries, 'value', this.form.country)
            }
        },
        beforeDestroy(){
            while (tinymce.editors.length > 0) {
                tinymce.remove(tinymce.editors[0]);
            }
        },
        mounted(){
            this.$on('changed', (response)=>{
                switch(response.field){
                    case "keywords":
                        this.formtext.keywords = response.tags
                        this.form.keywords = response.tag_ids
                        break;
                    case "tags":
                        this.formtext.tags = response.tags
                        this.form.tags = response.tag_ids
                        break;
                }

            })
            this.getVideo()
            this.getCountries()
            this.getLanguages()
            this.getCategories()
            this.getMethods()
            this.genreCallback(this.formtext.genres)
            this.selectRestrictedCountry(this.formtext.restrictions)
            this.getVideoSubtitles()
            this.subtitleUploadURL = '/subtitles/'+this.video
        }
    }
</script>

<style scoped>

</style>