<template>
    <div>
        <h2 class="text-center">Login</h2>
        <form method="POST" action="#" class="login-form">
            <div class="login">
                <div class="form-group">
                    <label for="email-login" class="auth-label">
                        Email
                    </label>
                    <span class="input-errors" v-if="emailErrors.length">
                        <span class="input-error" v-for="(error, index) in emailErrors" :key="index">
                            {{ error }}
                        </span>
                    </span>
                    <input id="email-login" type="email" class="form-control" name="email" v-model="email" required autofocus>
                </div>

                <div class="form-group">
                    <label for="login-password" class="auth-label">
                        Password
                    </label>
                    <span class="input-errors" v-if="passwordErrors.length">
                        <span class="input-error" v-for="(error, index) in passwordErrors" :key="index">
                            {{ error }}
                        </span>
                    </span>
                    <input id="login-password" type="password" class="form-control" name="password" v-model="password" required>

                </div>

                <div class="form-group submit-wrap">
                    <button @click.prevent="login" type="submit" class="btn btn-gradiented btn-block">
                        Login 
                    </button>
                    <br>
                    <div v-if="loading" class="loading center-block"></div>

                </div>
                <div class="text-center resetlink">
                    <a href="/password/reset">Forgot password?</a>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
     export default{
        data(){
          return {
              loading: false,
              'email':"",
              'password':"",
              emailErrors: [],
              passwordErrors: []
          }
        },
        methods:{
            login(){
                this.loading = true
                axios.post('/login',{'email':this.email,'password':this.password}).then((response)=>{
                    this.loading = false
                    if(response.data == 1){
                        window.location.reload()
                    }
                }).catch((error)=>{
                    this.loading = false
                    if (error.response.data && error.response.data.errors){
                        let errors = error.response.data.errors
                        if (errors.email){
                            this.emailErrors = errors.email
                        }
                        if (errors.password){
                            this.passwordErrors = errors.password
                        }
                    }
                })
            }
        }
     }
</script>