<template>
    <div>
        <div class="user-membership">
            <h2>Membership</h2>
            <div class="box">
                <h4>Current plan</h4>
                <p v-text="currentPlan"></p>
                <a href="#" @click.prevent="changeMembership">View or edit membership plan</a>
                <a class="pull-right" href="#" @click.prevent="cancelMembership">Cancel membership</a>
                <!--<hr>-->
                <!--<h4>Current billing cycle</h4>-->
                <!--<p>from <span class="orange">{{ periodStart}}</span> to <span class="orange">{{ periodEnd }}</span></p>-->
                <!--<a href="#">More info</a>-->
            </div>
        </div>
        <transition name="slide">
            <div class="user-membership" style="margin-top:40px;" v-show="showChangeMembershipBlock">
                <h2>Edit membership details</h2>
                <div class="box plans" :class="{ 'js-loading': changingPlanInProgress }">
                        <h3>Film maker</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#" @click.prevent="changeSubscriptionPlan('maker_monthly')" :disabled="currentPlanSlug === 'maker_monthly'">
                                    <div class="text-center">
                                        <img src="/img/filmmaker_icon.svg" height="60px" />
                                        <div class="price">
                                            <span>&euro;15</span> per month
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="#" @click.prevent="changeSubscriptionPlan('maker_yearly')" :disabled="currentPlanSlug === 'maker_yearly'">
                                    <div class="text-center">
                                        <img src="/img/filmmaker_icon.svg" height="60px" />
                                        <div class="price">
                                            <span>&euro;150</span> per year
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <h3>Film watcher</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#" @click.prevent="changeSubscriptionPlan('watcher_monthly')" :disabled="currentPlanSlug === 'watcher_monthly'">
                                    <div class="text-center">
                                        <img src="/img/filmwatcher_icon.svg" height="60px" />
                                        <div class="price">
                                            <span>&euro;9</span> per month
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="#" @click.prevent="changeSubscriptionPlan('watcher_yearly')" :disabled="currentPlanSlug === 'watcher_yearly'">
                                    <div class="text-center">
                                        <img src="/img/filmwatcher_icon.svg" height="60px" />
                                        <div class="price">
                                            <span>&euro;90</span> per year
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import moment from "moment";
import swal from "sweetalert2";
import EventBus from "../../app.js";

export default {
  props: ["user", "csrf"],
  data() {
    return {
      currentPlan: "",
      currentPlanSlug: "",
      periodStart: "",
      periodEnd: "",
      showChangeMembershipBlock: false,
      changingPlanInProgress: false
    };
  },
  methods: {
    cancelMembership() {
      axios
        .post(
          "/subscription/cancelMembership/" +
            this.user.subscriptions[0].stripe_plan
        )
        .then(response => {
          if (response.data == 1) {
            swal("Success", "Subscription cancelled", "success");
          }
        })
        .catch(error => {
          console.log(error.response.data);
        });
    },
    changeMembership() {
      this.showChangeMembershipBlock = !this.showChangeMembershipBlock;
    },
    changeSubscriptionPlan(plan) {
      if (!this.changingPlanInProgress) {
        if (this.user.subscriptions.length > 0) {
          if (plan != this.user.subscriptions[0].name) {
            this.changingPlanInProgress = true;
            axios
              .post("/subscription/change", { plan: plan })
              .then(() => {
                this.changingPlanInProgress = false;
                this.currentPlanSlug = plan
                swal(
                  "Success",
                  "Your subscription has been changed",
                  "success"
                ).then(() => {
                  this.changeMembership();
                });
              })
              .catch(error => {
                this.changingPlanInProgress = false;
                console.log(error.response.data);
              });
          } else {
            swal("Info", "This is your current plan", "warning");
          }
        } else {
          if (this.user.card_last_four == null) {
            swal(
              "Error",
              "You need to add billing method",
              "error"
            ).then(() => {
              EventBus.$emit("setting", "billing");
            });
          } else {
            this.changingPlanInProgress = true;
            axios
              .post("/subscription/subscribe/" + plan, { plan: plan })
              .then(() => {
                this.changingPlanInProgress = false;
                this.currentPlanSlug = plan
                swal(
                  "Success",
                  "Your subscription created",
                  "success"
                ).then(() => {
                  this.changeMembership();
                });
              })
              .catch(error => {
                this.changingPlanInProgress = false;
                console.log(error.response.data);
              });
          }
        }
      }
    }
  },
  mounted() {
    if (this.user.subscriptions.length){
        this.currentPlanSlug = this.user.subscriptions[0].name
    }

    switch (this.user.role) {
      case "Administrator":
        this.currentPlan = "Administrator";
        break;
      case "Filmmaker":
        this.currentPlan = "Film maker";
        break;
      case "User":
        this.currentPlan = "Film watcher";
        break;
    }
    if (this.user.subscriptions.length > 0) {
      this.periodEnd = moment
        .unix(this.user.subscription_period_end)
        .format("MMM DD, YYYY");
      this.periodStart = moment
        .unix(this.user.subscription_period_start)
        .format("MMM DD, YYYY");
    } else {
      this.periodEnd = moment
        .unix(this.user.subscription_period_end)
        .format("");
      this.periodStart = moment
        .unix(this.user.subscription_period_start)
        .format("");
    }
  }
};
</script>