<template>
    <div class="user-profile">
        <h2>Profile settings</h2>
        <div class="box">
            <div class="text-center profile-image">
                <a href="#" @click="choosePhoto">
                    <img :src="form.image" width="100px" height="100px" class="img-circle" />
                    <span>
                        <img src="/img/photocamera.svg" width="48px" />
                    </span>
                </a>
            </div>
            <form method="post" action="/user/profile" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="control-label" for="name">First name</label>
                            <input type="text" name="name" class="form-control" id="name" v-model="form.name" />
                            <span v-if="errors.name" class="help-block">
                                <strong v-text="errors.name[0]"></strong>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="lastname">Last name</label>
                            <input type="text" name="lastname" class="form-control" id="lastname" v-model="form.lastname" />
                            <span v-if="errors.lastname" class="help-block">
                                <strong v-text="errors.lastname[0]"></strong>
                            </span>
                        </div>
                        <div class="form-group">
                            <input type="file" name="image" class="form-control hidden" id="image" @change="photoChosen" />
                            <span v-if="errors.image" class="help-block">
                                <strong v-text="errors.image[0]"></strong>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="address">Address</label>
                            <textarea name="address" class="form-control" id="address" v-model="form.address">{{ form.address }}</textarea>
                            <span v-if="errors.address" class="help-block">
                                <strong v-text="errors.address[0]"></strong>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">E-mail</label>
                            <input type="text" name="email" class="form-control" id="email" v-model="form.email" />
                            <span v-if="errors.email" class="help-block">
                                <strong v-text="errors.email[0]"></strong>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="country">Country</label>
                            <v-select 
                            name="country"
                            id="country"
                            placeholder="Select country"
                            :options="countries"
                            :on-change="selectCountry">
                            </v-select>
                            <span v-if="errors.country" class="help-block">
                                <strong v-text="errors.country[0]"></strong>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="city">City</label>
                            <input type="text" name="city" class="form-control" id="city" v-model="form.city" />
                            <span v-if="errors.city" class="help-block">
                                <strong v-text="errors.city[0]"></strong>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="gender">Gender</label>
                            <v-select 
                            name="gender"
                            id="gender"
                            placeholder="Select gender"
                            :options="genders"
                            :on-change="selectGender">
                            </v-select>
                            <span v-if="errors.gender" class="help-block">
                                <strong v-text="errors.gender[0]"></strong>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="zip">Zip code</label>
                            <input type="text" name="zip" class="form-control" id="zip" v-model="form.zip" />
                            <span v-if="errors.zip" class="help-block">
                                <strong v-text="errors.zip[0]"></strong>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="company">Company</label>
                            <input type="text" name="company" class="form-control" id="company" v-model="form.company" />
                            <span v-if="errors.company" class="help-block">
                                <strong v-text="errors.company[0]"></strong>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="iban">IBAN</label>
                            <input type="text" name="iban" class="form-control" id="iban" v-model="form.iban" />
                            <span v-if="errors.iban" class="help-block">
                                <strong v-text="errors.iban[0]"></strong>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="corporate_number">Corporate identity number</label>
                            <input type="text" name="corporate_number" class="form-control" id="corporate_number" v-model="form.corporate_number" />
                            <span v-if="errors.corporate_number" class="help-block">
                                <strong v-text="errors.corporate_number[0]"></strong>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="description">Short description</label>
                            <textarea name="description" class="form-control" rows="5" id="description" v-model="form.description">{{ form.description }}</textarea>
                            <span v-if="errors.description" class="help-block">
                                <strong v-text="errors.description[0]"></strong>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="description">Awards</label>
                            <textarea name="awards" class="form-control" rows="5" id="awards" v-model="form.awards">{{ form.awards }}</textarea>
                            <span v-if="errors.awards" class="help-block">
                                        <strong v-text="errors.awards[0]"></strong>
                                    </span>
                        </div>
                <div class="clearfix"></div>
                <br>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-warning" @click.prevent="sendForm">Save profile</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import swal from 'sweetalert2';
    import EventBus from '../../app'
    export default{
        props:['user'],
        data(){
            return {
                form:{
                    name:"",
                    email:"",
                    lastname:"",
                    image:"",
                    address:"",
                    country:"",
                    city:"",
                    gender:"",
                    zip:"",
                    company:"",
                    iban:"",
                    corporate_number:"",
                    description:"",
                    awards:""
                },
                errors:{},
                countries:[],
                genders: [
                    { value: 'male', label: 'Male' },
                    { value: 'female', label: 'Female' }
                ]
            }
        },
        methods:{
            sendForm(){
                axios.post('/user/profile', this.form).then((response)=>{
                    if(response.status == 200){
                        swal('Success','Profile updated','success')
                    }
                }).catch((error)=>{
                    this.errors = error.response.data.errors
                })
            },
            getCountries(){
                axios.get('/fetchCountries').then((response)=>{
                    const rawResponse = response.data
                    this.countries = Object.keys(rawResponse).map((key) => {
                        return {
                            value: key,
                            label: rawResponse[key]
                        }
                    })
                }).catch((error)=>{
                    console.log(error.response.data)
                })
            },
            selectCountry(newCountry){
                if (newCountry.value){
                    this.form.country = newCountry.value
                }
                
            },
            selectGender(newGender){
               if (newGender.value){
                    this.form.gender = newGender.value
               }
            },
            choosePhoto: function(){
                document.getElementById('image').click()
            },
            photoChosen: function(){
                var photo = document.getElementById('image');
                var file = photo.files[0];
                let formData = new FormData();
                formData.append('image', file);
                axios.post('/user/uploadAvatar', formData).then((response)=>{
                    this.form.image = response.data;
                    EventBus.$emit('avatar-changed', response.data)
                })
            },
        },
        mounted(){
            this.getCountries()
            this.form.name = this.user.profile.name
            this.form.lastname = this.user.profile.lastname
            this.form.email = this.user.email
            this.form.address = this.user.profile.address
            this.form.country = this.user.profile.country
            this.form.city = this.user.profile.city
            this.form.gender = this.user.profile.gender
            this.form.zip = this.user.profile.zip
            this.form.company = this.user.profile.company
            this.form.iban = this.user.profile.iban
            this.form.corporate_number = this.user.profile.corporate_number
            this.form.description = this.user.profile.description
            this.form.awards = this.user.profile.awards
            this.form.image = this.user.profile.image ? this.user.profile.image.profile.url : "https://placehold.it/150x150"
        }
    }
</script>