<template>
    <div class="user-security">
        <h2>Password &amp; security</h2>
        <div class="box">
            <!--<form method="post" action="changepassword">-->
            <form method="post" action="#">
                <div class="form-group">
                    <label class="control-label" for="old_password">Old password</label>
                    <input type="password" name="old_password" id="old_password" v-model="form.old_password" class="form-control" />
                    <span v-if="errors.old_password" class="help-block">
                        <strong v-text="errors.old_password[0]"></strong>
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">New password</label>
                    <input type="password" name="password" id="password" class="form-control" v-model="form.password" />
                    <span v-if="errors.password" class="help-block">
                        <strong v-text="errors.password[0]"></strong>
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password_confirmation">Password confirmation</label>
                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control" v-model="form.password_confirmation" />
                    <span v-if="errors.password_confirmation" class="help-block">
                        <strong v-text="errors.password_confirmation[0]"></strong>
                    </span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-warning" @click.prevent="sendForm">Update password</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import swal from 'sweetalert2';

    export default{
        props:['user'],
        data(){
            return {
                form:{
                    old_password:"",
                    password:"",
                    password_confirmation:""
                },
                errors:{}
            }
        },
        methods:{
            sendForm(){
                axios.post('/user/changepassword', this.form).then((response)=>{
                    if(response.status == 200){
                        if(response.data == '0'){
                            this.errors.old_password = ['Old password is wrong']
                        }
                        if(response.data == '1'){
                            this.form = {}
                            this.errors = {}
                            swal('Success','Password changed','success')
                        }
                    }
                }).catch((error)=>{
                    this.errors = error.response.data.errors
                })
            }
        }
    }
</script>