<template>
  <form class="subtitle-upload">
    <v-select
      name="subtitle-language"
      placeholder="Select language"
      :options="languages"
      :on-change="selectLanguage">
    </v-select>
    <file-upload
      v-if="language"
      :url='url'
      :accept="accept"
      :additional-data="additionalData"
    @success="onUploadSuccess">
    </file-upload>
    <footer class="uploaded-files" v-if="uploaded.length">
      <span class="uploaded-files-head">
        Successfully uploaded:
      </span>
      <ul class="uploaded-files-list">
        <li v-for="file in uploaded" class="uploaded-file-label" :key="file.value">
        {{ file.label + ' subtitles'}}
        </li>
      </ul>
    </footer>
  </form>
</template>
<script>
export default {
  props: ['languages', 'url'],
  data: function() {
    return {
        accept: '.vtt, text/vtt',
        language: null,
        uploaded: [],
        additionalData: {}
    };
  },
  methods: {
    selectLanguage(newLanguage) {
      if (newLanguage.value) {
        this.language = newLanguage.value;
        this.additionalData = { lang_id: newLanguage.value }
      }
    },
    onUploadSuccess(xhr){
      let currentLangIndex = parseInt(this.language)
      let index = currentLangIndex > 0 ? currentLangIndex - 1 : 0;
      let uploadedLang = this.languages[index]
      if (this.uploaded.indexOf(uploadedLang) < 0){
          this.uploaded.push(uploadedLang)
      }
      this.language = null
      this.$emit('subtitle-loaded', xhr)
    }
  }
};
</script>
<style>

</style>

